 <!-- Main Container Starts -->
 <div *ngIf="customerService.navTab==2">
    <div class="mainContainer main-container-flg">

        <div class="comm-headline-btn">
            <h3 class="main-comm-head main-head-colr-pur m-0">
                <!-- <i class="icon-down-arrow com-arw"></i> -->
                Maya <span>Didas</span>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a href="transaction-customer-type.html" class="button flg-btn new-sale-btn mr-0">New Sale</a>
                </div>
            </div>
        </div>


        <div class="comm-headline-btn communication-hdn">

            <div class="customer-comm-tab">
                <h3 class="main-comm-head m-0">
                    Communications
                    <i class="icon-question rig-icn" data-toggle="tooltip" title=""
                        data-original-title="Merge Sales"></i>
                </h3>
                <ul class="nav nav-pills mb-0">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#tab1">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab2">SMS</a>
                    </li>
                </ul>
            </div>

            <div class="filter-container-up">
                <div class="filter-container">
                    <button class="button comm-btm-popup mr-2 new-email-btn" data-name="add-new-popup">
                        +<span>New Email</span></button>
                    <div class="form-group mb-0">
                        <form>
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <!-- start -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                        <!-- start -->
                        <a href="customer-communication-reply.html">
                            <div class="cust-mail">
                                <div class="mail-subj">
                                    <h6 class="ellipsis">The Subject Comes Here</h6>
                                </div>
                                <div class="mail-cont">
                                    <p class="ellipsis">These days everyone has an email address, as it’s virtually
                                        impossible to
                                        have
                                        adequate Internet
                                        experience without having one. Whether you want to adequate</p>
                                    <span class="mail-date mail-upr">Aug 25</span>
                                </div>
                                <span class="mail-delete modal-click" data-toggle="modal" data-target="#deletePopup"
                                    data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i></span>
                            </div>
                        </a>
                        <!-- end -->
                    </div>
                </div>
                <!-- end -->
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="row">
                    <div class="col-md-12">
                        <!-- start -->
                        <div class="chat-container">
                            <div class="chat-box">
                                <div class="chat-box-in scrollbar">
                                    <!-- Start -->
                                    <div class="cht cht-2">
                                        <div class="chat-img"><img src="img/profile.svg" alt=""></div>
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    <!-- Start -->
                                    <div class="cht">
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    <!-- Start -->
                                    <div class="cht cht-2">
                                        <div class="chat-img"><img src="img/profile.svg" alt=""></div>
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna.
                                                These
                                                days
                                                everyone has an email address, as it’s virtually impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna.These
                                                days
                                                everyone has an email address, as it’s virtually impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    <!-- Start -->
                                    <div class="cht cht-2">
                                        <div class="chat-img"><img src="img/profile.svg" alt=""></div>
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna.
                                                These
                                                days
                                                everyone has an email address, as it’s virtually impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    <!-- Start -->
                                    <div class="cht">
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna These
                                                days
                                                everyone has an email address, as it’s virtually impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magnaThese
                                                days
                                                everyone has an email address, as it’s virtually impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                    <!-- Start -->
                                    <div class="cht cht-2">
                                        <div class="chat-img"><img src="img/profile.svg" alt=""></div>
                                        <div class="chat-msg">
                                            <p>These days everyone has an email address, as it’s virtually
                                                impossible
                                                you want to adequate Aliquam erat volutpat. Donec placer magna</p>
                                            <span>Wed, 21 Aug, 11:45</span>
                                        </div>
                                    </div>
                                    <!-- Ends -->
                                </div>
                            </div>
                            <div class="chat-write">
                                <input type="text" placeholder="Type Message Here">
                                <button class="chat-btn"><span>Send</span> <i class="icon-send"></i></button>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </div>

            </div>
        </div>

        <!-- Add email start -->
        <div class="comm-note mail-compose-box comm-popup-box" id="add-new-popup">
            <div class="comm-head close-desp">
                <h6>Compose New Email</h6>
                <i class="icon-cir-cross"></i>
            </div>
            <div class="suprt-body">

                <div id="mail-app">
                    <div id="recipient-section">
                        <div id="recipients" class="pt-0">
                            Recipients
                        </div>
                        <div id="to" class="mt-0">
                            <span id="to-label">To</span>
                            <div id="to-input" contenteditable="true"></div>
                            <button id="cc-button">Cc</button>
                            <button id="bcc-button">Bcc</button>
                        </div>
                        <div id="cc">
                            <span id="to-label">Cc</span>
                            <div id="cc-input" contenteditable="true"></div>
                        </div>
                        <div id="bcc">
                            <span id="to-label">Bcc</span>
                            <div id="bcc-input" contenteditable="true"></div>
                        </div>
                    </div>
                    <hr>
                    <div id="subject">
                        <span id="subject-label">Subject</span>
                        <div id="subject-input" contenteditable="true">
                        </div>
                    </div>
                    <hr>
                    <div id="subject">
                        <span id="subject-label">Template</span>
                        <div id="subject-input" contenteditable="true">
                        </div>
                    </div>
                    <hr>
                    <div id="body">
                        <textarea id="body-content"></textarea>
                    </div>
                    <div class="mail-btn-box m-0">
                        <button class="button">Send</button>
                        <ul class="mail-list">
                            <li><i class="icon-txt-underline"></i></li>
                            <li><i class="icon-attach"></i></li>
                            <li><i class="icon-link"></i></li>
                            <li><i class="icon-smiling"></i></li>
                            <li><i class="icon-picture"></i></li>
                            <li><i class="icon-schedule" data-toggle="modal" data-target="#mailPopup"></i></li>
                            <li class="mail-del-icon"><i class="icon-delete del"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add email end -->

    </div>
</div>
<!-- Main Container Ends -->