<!-- Main Container Starts -->
<div *ngIf="userdataService.schedulenav">
<div class="mainContainer">
  <div class="comm-headline-btn">
    <h3 class="main-comm-head mb-0">Schedule</h3>
    <a href="user-weekly-schedule.html" class="button line orange">Request Time Off</a>
  </div>
  <div class="common-row-box">
    <!-- left side starts -->
    <div class="common-left-box">
      <h6 class="poptile">Working Days</h6>
      <div class="">
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day1" name="chk-day" required="">
          <label for="chk-day1">Mon</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day2" name="chk-day" required="">
          <label for="chk-day2">Tue</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day3" name="chk-day" required="">
          <label for="chk-day3">Wed</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day4" name="chk-day" required="">
          <label for="chk-day4">Thu</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day5" name="chk-day" required="">
          <label for="chk-day5">Fri</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day6" name="chk-day" required="">
          <label for="chk-day6">Sat</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="checkbox" id="chk-day7" name="chk-day" required="">
          <label for="chk-day7">Sun</label>
        </div>
        <!-- end -->
      </div>
      <h6 class="poptile">Start Time</h6>
      <div class="start-time-input">
        <!-- start -->
        <div class="form-group">
          <select class="select-field form-field" name="select-fld" required="">
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="form-group">
          <select class="select-field form-field" name="select-fld" required="">
            <option>00</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="radio" id="chk-start1" name="chk-start" required="" checked="">
          <label for="chk-start1">AM</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="radio" id="chk-start2" name="chk-start" required="">
          <label for="chk-start2">PM</label>
        </div>
        <!-- end -->
      </div>
      <h6 class="poptile">end Time</h6>
      <div class="start-time-input">
        <!-- start -->
        <div class="form-group">
          <select class="select-field form-field" name="select-fld" required="">
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="form-group">
          <select class="select-field form-field" name="select-fld" required="">
            <option>00</option>
            <option>01</option>
            <option>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
            <option>06</option>
            <option>07</option>
            <option>08</option>
            <option>09</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="radio" id="chk-end1" name="chk-end" required="">
          <label for="chk-end1">AM</label>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="radio-box radio-box-2">
          <input type="radio" id="chk-end2" name="chk-end" required="" checked="">
          <label for="chk-end2">PM</label>
        </div>
        <!-- end -->
      </div>
      <button class="button">Add</button>
    </div>
    <!-- left side Ends -->
    <!-- right side Ends -->
    <!-- right side Ends -->
    <div class="common-right-box scedule-right">
      <h6 class="poptile">My schedule</h6>

      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Mon</h6>
          <p>9 AM - 5 PM</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Tue</h6>
          <p>9 AM - 5 PM</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Wed</h6>
          <p>9 AM - 5 PM</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Thu</h6>
          <p>-</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Fri</h6>
          <p>9 AM - 5 PM</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Sat</h6>
          <p>-</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="com-shad">
        <div class="edit-cont">
          <h6>Sun</h6>
          <p>-</p>
        </div>
        <div class="edt-icon">
          <i class="icon-edit royblu"></i>
          <i class="icon-delete delete"></i>
        </div>
      </div>
      <!-- end -->

    </div>
    <!-- right side Ends -->
  </div>
  <!-- Main Container Ends -->
</div>

<!-- login message start -->
<div class="succe-overlay"></div>
<div class="login-succes">
  <div class="note-msg login-succes-lef">
    <h6>Login Successful</h6>
    <p>These days everyone has an email address, as it’s virtually impossible to have adequate Internet
      experience without having one.</p>
  </div>

  <div class="login-succes-rig">
    <button class="button">Continue</button>
    <a href="#" class="grey-rest dismiss-btn"><span>Dismiss</span></a>
  </div>
</div>
<!-- login message end -->
</div>
