<!-- Main Container Starts -->
<div *ngIf="userdataService.schedulenav">
  <div class="mainContainer" *ngIf="schedulevar">
    <form id="editProfile" [formGroup]="scheduleForm" (ngSubmit)="updateSchedule(scheduleForm.value)" class="popup-scrll">
      <app-messages></app-messages>
      <div class="comm-headline-btn">
        <h3 class="main-comm-head mb-0">{{'Schedule' | translate}}</h3>
        <a (click)="requesttimefunction()" class="button line orange">{{'Request' | translate}} {{'Time' | translate}} {{'Off' | translate}}</a>
      </div>
      <div class="common-row-box">
        <!-- left side starts -->
        <div class="common-left-box">
          <h6 class="poptile">{{'Working' | translate}} {{'Days' | translate}}</h6>
          <div class="">
            <!-- start -->
            <div class="radio-box radio-box-2" *ngFor="let days of arrayofdays">
              <input type="checkbox" id="{{days}}" formControlName="DayName" (click)="selectedDays(days)">
              <label for="{{days}}">{{days}}</label>
            </div>
            <!-- end -->
          </div>
          <app-customTimePicker [customTimePicker]= scheduleForm [userdata]="userschedule" addchildAMMessage="add"></app-customTimePicker>
          <button class="button" type="submit">{{'Add' | translate}}</button>
        </div>
        <!-- left side Ends -->
        <!-- right side Ends -->
        <!-- right side Ends -->
        <div class="common-right-box scedule-right">
          <h6 class="poptile">{{'My' | translate}} {{'Schedule' | translate}}</h6>

          <!-- start -->
          <div class="com-shad" *ngFor="let schedule of userschedule">
            <div class="edit-cont">
              <h6>{{schedule.dayName}}</h6>
              <p>{{schedule.startTimeHour}} : {{schedule.startTimeMinute}} {{schedule.startTimeMeridian}} - {{schedule.endTimeHour}} : {{schedule.endTimeMinute}} {{schedule.endTimeMeridian}}</p>
            </div>
            <div class="edt-icon">
              <i class="icon-edit royblu" (click)="openModal('schedule-edit');selectdayobj(schedule)"></i>
              <i class="icon-delete delete" (click)="selectdayobj(schedule)" data-toggle="modal" data-target="#delete-popup"></i>
            </div>
          </div>
          <!-- end -->

        </div>
        <!-- right side Ends -->
      </div>
      <!-- Main Container Ends -->
    </form>
  </div>

  <!-- Main Container Starts -->
  <div class="mainContainer" *ngIf="requesttimevar">
    <h3 class="main-comm-head"><i class="icon-down-arrow com-arw" (click)="requesttimefunction()"></i>{{'Request' | translate}} {{'Time' | translate}} {{'Off' | translate}}</h3>

    <!-- start -->
    <div class="acctset-w370">
      <!-- start -->
      <form [formGroup]="timeoffForm"  (ngSubmit)="updateTimeoff(timeoffForm.value, DateRangePicker)" class="popup-scrll">
      <h6 class="poptile">{{'Request' | translate}} {{'Time' | translate}} {{'Off' | translate}}</h6>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="pill" href="#tab1">{{'One' | translate}} {{'Day' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#tab2">{{'Multiple' | translate}} {{'Days' | translate}}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active show" id="tab1">
            <div class="one-day-box">
              <div class="form-group form-field">
                <ejs-datetimepicker id='datetimepicker' formControlName="StartDate" [ngClass]="{ 'error': submitted && f.birthdate.errors }" placeholder='Date' [value]='dateValue' format ='dd/MM/yyyy'></ejs-datetimepicker>
              </div>
              <div class="switch switch--horizontal get-switch-val" data-name="weekly-switch">
                <input class="notif-radio" id="all-day-switch" value="false" (click)="customtime()" type="radio" name="first-switch-email">
                <label for="all-day-switch">{{'All' | translate}} {{'Day' | translate}}</label>
                <input class="notif-radio" id="cust-time-switch" value="true" (click)="customtime()" checked type="radio" name="first-switch-email">
                <label for="cust-time-switch">{{'Custom' | translate}} {{'Time' | translate}}</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
              </div>
              <div *ngIf="customday">
                <app-customTimePicker [customTimePicker]= timeoffForm [userdata]="userschedule"></app-customTimePicker>
              </div>
              <div class="popBtn">
                <button class="button line" (click)="requesttimefunction()" type="button">{{'Cancel' | translate}}</button>
                <button class="button" type="submit">{{'Submit' | translate}}</button>
              </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">
          <ejs-daterangepicker id='DateRangePicker' [(ngModel)]="DateRangePicker" formControlName="StartDate"></ejs-daterangepicker>


          <div class="popBtn">
            <button class="button line" (click)="requesttimefunction()" type="button">{{'Cancel' | translate}}</button>
            <button class="button" type="submit">{{'Submit' | translate}}</button>
          </div>
        </div>
      </div>
      <!-- end -->
      </form>
    </div>
    <!-- end -->
  </div>
  <!-- Main Container Ends -->

  <!-- login message start -->
  <div class="succe-overlay"></div>
  <div class="login-succes">
    <div class="note-msg login-succes-lef">
      <h6>Login Successful</h6>
      <p>These days everyone has an email address, as it’s virtually impossible to have adequate Internet
        experience without having one.</p>
    </div>

    <div class="login-succes-rig">
      <button class="button">Continue</button>
      <a href="#" class="grey-rest dismiss-btn"><span>Dismiss</span></a>
    </div>
  </div>
  <!-- login message end -->
</div>
<div class="overlay"></div>
<schedule-modal [userdata]= "arrayofselectedobj"></schedule-modal>
<div class="modal fade" id="delete-popup">
  <div class="modal-dialog medium-window">
      <div class="modal-content">
          <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

          <h2 class="modal-title">Are you sure you want to delete this Schedule?</h2>

          <div class="modal-btn">
              <button class="button line mr-2" data-dismiss="modal">No</button>
              <button class="button red" data-dismiss="modal" (click)="deleteSchedule(arrayofselectedobj)">Yes</button>
          </div>

      </div>
  </div>
</div>
