<!-- Main Container Starts -->
<div *ngIf="userdataService.schedulenav">
  <div class="mainContainer" *ngIf="schedulevar">
    <form id="editProfile" [formGroup]="scheduleForm"  (ngSubmit)="updateSchedule(scheduleForm)" class="popup-scrll">
      <div class="comm-headline-btn">
        <h3 class="main-comm-head mb-0">Schedule</h3>
        <a (click)="requesttimefunction()" class="button line orange">Request Time Off</a>
      </div>
      <div class="common-row-box">
        <!-- left side starts -->
        <div class="common-left-box">
          <h6 class="poptile">Working Days</h6>
          <div class="">
            <!-- start -->
            <div class="radio-box radio-box-2" *ngFor="let days of arrayofdays">
              <input type="checkbox" id="{{days}}" value="arrayofselecteddays" formControlName="DayName" (click)="selectedDays(days)">
              <label for="{{days}}">{{days}}</label>
            </div>
            <!-- end -->
          </div>
          <app-customTimePicker [customTimePicker]= scheduleForm></app-customTimePicker>
          <button class="button" type="submit">Add</button>
        </div>
        <!-- left side Ends -->
        <!-- right side Ends -->
        <!-- right side Ends -->
        <div class="common-right-box scedule-right">
          <h6 class="poptile">My schedule</h6>

          <!-- start -->
          <div class="com-shad">
            <div class="edit-cont">
              <h6>Mon</h6>
              <p>9 AM - 5 PM</p>
            </div>
            <div class="edt-icon">
              <i class="icon-edit royblu" (click)="openModal('schedule-edit')"></i>
              <i class="icon-delete delete"></i>
            </div>
          </div>
          <!-- end -->

        </div>
        <!-- right side Ends -->
      </div>
      <!-- Main Container Ends -->
    </form>
  </div>

  <!-- Main Container Starts -->
  <div class="mainContainer" *ngIf="requesttimevar">
    <h3 class="main-comm-head"><i class="icon-down-arrow com-arw" (click)="requesttimefunction()"></i>My Weekly Schedule</h3>

    <!-- start -->
    <div class="acctset-w370">
      <!-- start -->
      <form [formGroup]="timeoffForm"  (ngSubmit)="updateTimeoff(timeoffForm)" class="popup-scrll">
      <h6 class="poptile">Request Time Off</h6>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="pill" href="#tab1">One Day</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#tab2">Multiple days</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active show" id="tab1">
            <div class="one-day-box">
              <div class="form-group">
                <ejs-datetimepicker id='datetimepicker' formControlName="StartDate" [ngClass]="{ 'error': submitted && f.birthdate.errors }" placeholder='Date' [value]='dateValue' format ='dd/MM/yyyy'></ejs-datetimepicker>
              </div>
              <div class="switch switch--horizontal get-switch-val" data-name="weekly-switch">
                <input class="notif-radio" id="all-day-switch" value="false" (click)="customtime()" type="radio" name="first-switch-email">
                <label for="all-day-switch">All Day</label>
                <input class="notif-radio" id="cust-time-switch" value="true" (click)="customtime()" checked type="radio" name="first-switch-email">
                <label for="cust-time-switch">Custom Time</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
              </div>
              <div *ngIf="customday">
                <app-customTimePicker [customTimePicker]= timeoffForm></app-customTimePicker>
              </div>
              <div class="popBtn">
                <button class="button line" (click)="requesttimefunction()" type="button">Cancel</button>
                <button class="button" type="submit">Submit</button>
              </div>
            </div>
        </div>
        <div class="tab-pane" id="tab2">

          <!-- datepicker start -->
          <div class="datePicker">
            <input class="form-control" name="datefilter" />
            <div class="datePicker-input">
              <span class="datepicker-form" id="startdate"></span>
              <p class="datepick-label">From</p>
            </div>
            <i class="icon-right-arrow1 frmto-icon"></i>
            <div class="datePicker-input">
              <span class="datepicker-form" id="endate"></span>
              <p class="datepick-label">To</p>
            </div>
          </div>
          <!-- datepicker end -->


          <div class="popBtn">
            <button class="button line" (click)="requesttimefunction()" type="button">Cancel</button>
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <!-- end -->
      </form>
    </div>
    <!-- end -->
  </div>
  <!-- Main Container Ends -->

  <!-- login message start -->
  <div class="succe-overlay"></div>
  <div class="login-succes">
    <div class="note-msg login-succes-lef">
      <h6>Login Successful</h6>
      <p>These days everyone has an email address, as it’s virtually impossible to have adequate Internet
        experience without having one.</p>
    </div>

    <div class="login-succes-rig">
      <button class="button">Continue</button>
      <a href="#" class="grey-rest dismiss-btn"><span>Dismiss</span></a>
    </div>
  </div>
  <!-- login message end -->
</div>
<div class="overlay"></div>
<schedule-modal></schedule-modal>
