.padd0{
    padding: 0;
    border-top: 1px solid #fff;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap{
    border-color: #fff !important;
    padding-top: 8px;
  }

  .sch-error{
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    line-height: 2;
    font-size: 14px;
    color: #f71336;
    position: relative;
    padding-left: 30px;
  }
  .sch-error:before {
    content: "\e927";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 10px;
    top: 0;
}

.rto-error{
  font-weight: 400;
  margin: 0;
  margin-top: 0px;
  line-height: 2;
  font-size: 14px;
  color: #f71336;
  position: relative;
  padding-left: 30px;
}
.rto-error:before {
  content: "\e927";
  font-family: 'icomoon' !important;
  position: absolute;
  left: 10px;
  top: 0;
}

  