<!-- Header Starts -->
hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
<div *ngIf="adminService.navTab==3">
  <div class="mainContainer main-container-flg">
    <div class="comm-headline-btn">
      <h3 class="main-comm-head m-0">Services</h3>
      <div class="filter-container-up filter-container-grid">
        <div class="filter-container">
          <button class="button flg-btn side-menu" data-name="add-service">+ Add New</button>
          <div class="form-group mb-0 mr-2">
            <form>
              <input class="form-field" type="text" name="filter-searh" required>
              <p class="form-label">Search</p>
              <button class="search icon-search" type="submit"></button>
            </form>
          </div>
          <div class="yur-mail-rig filtdrp-status">
            <button type="button" class="button line grey status mr-2">
              <i class="icon-fliter-list"></i>
              <span>Sort by</span>
            </button>
            <ul class="status-list center">
              <li class="drpFil">Sort by</li>
              <li><a href="#">Ascending</a></li>
              <li><a href="#">Descending</a></li>
            </ul>
          </div>
          <div class="yur-mail-rig filtdrp-status">
            <button type="button" class="button line grey status mr-2">
              <i class="icon-filter"></i>
              <span>Fliters</span>
            </button>
            <ul class="status-list center">
              <li class="drpFil">Filters</li>
              <li><a href="#">Upcoming</a></li>
              <li><a href="#">Cancelled</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="f-row f-4 f-1440-3 f-900-2 f-640-1">
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
      <div class="f-col">
        <!-- start -->
        <div class="app-grid-box">
          <div class="techi-top techi-top-qty">
            <div class="user-det">
              <i class="icon-haircut prodt-ico"></i>
              <div class="usr-name">
                <h3>Haircut<span>8795641</span></h3>
              </div>
            </div>
            <div class="yur-mail-rig">
              <i class="icon-status1 status"></i>
              <ul class="status-list">
                <li><i class="icon-edit"></i> Edit</li>
                <li><i class="icon-share"></i> Share</li>
                <li class="delt"><i class="icon-delete"></i> Delete</li>
              </ul>
            </div>
          </div>
          <!-- start -->
          <div class="app-pad-box">
            <div class="techi-user">
              <i class="icon-clock"></i>
              <div class="tech-usr-cont">
                <p>Default Time</p>
                <h3>30 Minutes</h3>
              </div>
            </div>
          </div>
          <!-- end -->
        </div>
        <!-- end -->
      </div>
    </div>
  </div>
  <!-- Main Container Ends -->

  <!-- Add Service -->
  <div class="overlay"></div>
  <div class="mobile-side" id="add-service">
    <!-- common headline -->
    <h3 class="close-btn main-comm-head">
      <i class="icon-down-arrow com-arw"></i>Add New<span> Service</span>
    </h3>
    <!-- common headline end -->
    <form id="serviceForm" class="popup-scrll">

      <div class="filBox">
        <!-- start -->
        <div class="fill-box-in scrollbar">
          <!-- start -->
          <div class="form-group mt-2">
            <select id="service-name" class="select-field form-field" name="service-name" required>
              <option></option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
            <p class="form-label sel-blk">Service Name</p>
          </div>
          <div class="form-group">
            <select id="addon-services" class="select-field form-field" name="addon-services" required>
              <option></option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
            <p class="form-label sel-blk">Addon Services</p>
          </div>
          <div class="form-group">
            <input type="text" id="serv-code" name="serv-code" class="form-field" required />
            <p class="form-label">Service Code/Number</p>
          </div>
          <div class="form-group">
            <input type="text" id="def-time" name="def-time" class="form-field" required />
            <p class="form-label">Default Time</p>
          </div>
          <div class="form-group">
            <input type="text" id="serv-cost" name="serv-cost" class="form-field" required />
            <p class="form-label">Service Cost</p>
          </div>

          <h6 class="poptile">Service Pricing Structure</h6>
          <div class="switch switch--horizontal">
            <input id="serv-level-1" type="radio" name="serv-level" />
            <label for="serv-level-1">Single Level</label>
            <input id="serv-level-2" type="radio" name="serv-level" checked="checked" />
            <label for="serv-level-2">Multi Level</label><span class="toggle-outside"><span
            class="toggle-inside"></span></span>
          </div>

          <div class="level-price-box">
            <div class="form-group w60 w-768-100 pl-0">
              <select id="select-level" class="select-field form-field" name="select-level" required>
                <option></option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 4</option>
                <option>Option 5</option>
              </select>
              <p class="form-label sel-blk">Select Level</p>
            </div>
            <div class="form-group w40 w-768-100 p-0">
              <input type="text" id="price" name="price" class="form-field" required />
              <p class="form-label">Price</p>
            </div>
          </div>

          <div class="form-group">
            <input type="text" id="com-split" name="com-split" class="form-field" required />
            <p class="form-label">Commission Split %</p>
          </div>

          <button class="button dashed-button mb-4" data-toggle="modal" data-target="#gmailPopup">
            <i class="icon-cir-plus mr-2"></i>Add
          </button>

          <h6 class="poptile">Turn Count Override</h6>
          <div class="switch switch--horizontal">
            <input id="turn-count-1" type="radio" name="turn-count" />
            <label for="turn-count-1">Off</label>
            <input id="turn-count-2" type="radio" name="turn-count" checked="checked" />
            <label for="turn-count-2">On</label><span class="toggle-outside"><span
            class="toggle-inside"></span></span>
          </div>
          <div class="form-group">
            <select id="count-val" class="select-field form-field" name="count-val" required>
              <option></option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
            <p class="form-label sel-blk">Select Value</p>
          </div>

        </div>
        <!-- end -->
      </div>

      <div class="popBtn">
        <button class="button line close-btn" type="button">Cancel</button>
        <button class="button" type="submit">Add</button>
      </div>

    </form>

  </div>
  <!-- Add Service End -->


  <script src="js/all.js"></script>
  <script>
    $("#serviceForm").validate();
  </script>

</div>
