.e-multiselect, e-input-focus{
  border-color: transparent !Important;
}
.e-input-group::before{
  background: transparent !Important;
}
.e-input-group::after{
  background: transparent !Important;
}
.multi-height{
  height: auto !Important;
}
.form-with-field {
  border: 1px solid #a7b3c4;
}
.form-rem-icon{
  transform: rotate(45deg);
}
.form-width{
  width: 40%;
}
