 <!-- Main Container Starts -->
 <div *ngIf="customerService.navTab==4">
    <div class="mainContainer main-container-flg">

        <div class="comm-headline-btn">
            <h3 class="main-comm-head main-head-colr-pur m-0">
                <!-- <i class="icon-down-arrow com-arw"></i> -->
                {{customerProfile?.firstName}} <span>{{customerProfile?.lastName}}</span>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a href="transaction-customer-type.html" class="button flg-btn new-sale-btn mr-0">New Sale</a>
                </div>
            </div>
        </div>

        <div class="comm-headline-btn communication-hdn pb-0">
            <div class="customer-comm-tab">
                <h3 class="main-comm-head m-0">
                    Sales
                    <i class="icon-question rig-icn" data-toggle="tooltip" title=""
                        data-original-title="Merge Sales"></i>
                </h3>
            </div>
            <div class="filter-container-up">
                <div class="filter-container">
                    <div class="form-group mb-0 mr-2">
                        <form>
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status mr-2">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status">
                            <i class="icon-filter"></i>
                            <span>Fliters</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Filters</li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Cancelled</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="f-row f-3 f-1300-2 f-640-1">
            <div class="f-col" *ngFor="let sale of customerSales;let index=i;">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="app-pad-box" *ngFor="let service of sale.completedServices">
                        <a (click)="saledetail(sale.saleId)">
                            <div class="app-pad-top">
                                <h4 class="gridhead m-0">{{service.serviceName}}</h4>
                                <p class="girdpara">{{service.technicianName}}</p>
                            </div>
                        </a>
                        <div class="yur-mail-rig">
                            <i class="icon-status1 status"></i>
                            <ul class="status-list">
                                <li><i class="icon-share"></i> Share</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="app-pad-box sale-fle50">
                        <!-- start -->
                        <div class="techi-user">
                            <i class="icon-calender"></i>
                            <div class="tech-usr-cont">
                                <p>Date</p>
                                <h3>{{sale.date | date:'M/d/yy'}}</h3>
                            </div>
                        </div>
                        <!-- end -->
                        <!-- start -->
                        <div class="techi-user">
                            <i class="icon-clock"></i>
                            <div class="tech-usr-cont">
                                <p>Time</p>
                                <h3>{{sale.time}}</h3>
                            </div>
                        </div>
                        <!-- end -->
                        <!-- start -->
                        <div class="techi-user">
                            <i class="icon-cart"></i>
                            <div class="tech-usr-cont">
                                <p>Sales Amount</p>
                                <h3>$ {{sale.salesAmount}}</h3>
                            </div>
                        </div>
                        <!-- end -->
                        <!-- start -->
                        <div class="techi-user">
                            <i class="icon-money"></i>
                            <div class="tech-usr-cont">
                                <p>Tip Amount</p>
                                <h3>$ {{sale.tipAmount}}</h3>
                            </div>
                        </div>
                        <!-- end -->
                        <!-- start -->
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <p>Technician</p>
                                <h3>Ira Membrit</h3>
                            </div>
                        </div>
                        <!-- end -->
                        <!-- start -->
                        <div class="techi-user">
                            <i class="icon-reward"></i>
                            <div class="tech-usr-cont">
                                <p>Rewards</p>
                                <h3>{{sale.rewards}}</h3>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
        </div>

    </div>
</div>
<!-- Main Container Ends -->