<div class="bgOverlay"></div>
<div *ngIf="router.url === '/dashboard'" class="salon-side-bar side-bar-common {{classvar}} scrollbar mCustomScrollbar _mCS_1 mCS_no_scrollbar" ><ul>
  <li>
    <a (click)="navChange('profile-sid')" class="profile-sid">
      <i class="icon-profile"></i>
      <p>{{'Profile' | translate}}</p>
    </a>
  </li>
  <li>
    <a (click)="navChange('email-sid')" class="email-sid">
      <i class="icon-envelope"></i>
      <p>{{'Email' | translate}}</p>
    </a>
  </li>
  <li>
    <a (click)="navChange('notification-sid')" class="notification-sid">
      <i class="icon-bell"></i>
      <p>{{'Notification' | translate}}</p>
    </a>
  </li>
  <li>
    <a (click)="navChange('account-sid')" class="account-sid">
      <i class="icon-profile"></i>
      <p>{{'Account' | translate}}</p>
    </a>
  </li>
  <li>
    <a (click)="navChange('bank-sid')" class="bank-sid">
      <i class="icon-bank"></i>
      <p>{{'Bank' | translate}}</p>
    </a>
  </li>
  <li>
    <a (click)="navChange('schedule-sid')" class="schedule-sid">
      <i class="icon-calender"></i>
      <p>{{'Schedule' | translate}}</p>
    </a>
  </li>
</ul>
</div>
<div *ngIf="router.url === '/admin'" class="salon-side-bar side-bar-common {{classvar1}} scrollbar mCustomScrollbar _mCS_1 mCS_no_scrollbar" >
<ul>
  <li>
      <a (click)="AdminService.showNav(1)" class="menu-sid1">
          <i class="icon-profile"></i>
          <p>User</p>
      </a>
  </li>
  <li>
      <a (click)="AdminService.showNav(2)"  class="menu-sid2">
          <i class="icon-team"></i>
          <p>Roles</p>
      </a>
  </li>
  <li>
      <a (click)="AdminService.showNav(3)" class="menu-sid3">
          <i class="icon-service"></i>
          <p>Services</p>
      </a>
  </li>
  <li>
      <a (click)="AdminService.showNav(4)"  class="menu-sid4">
          <i class="icon-inventry"></i>
          <p>Inventory</p>
      </a>
  </li>
  <li>
      <a (click)="AdminService.showNav(5)" class="menu-sid5">
          <i class="icon-chat"></i>
          <p>Communicaion</p>
      </a>
  </li>
  <li>
      <a  (click)="AdminService.showNav(6)" class="menu-sid6">
          <i class="icon-tax"></i>
          <p>Tax Table</p>
      </a>
  </li>
  <li>
      <a  class="menu-sid7">
          <i class="icon-coupon"></i>
          <p>Coupons</p>
      </a>
  </li>
  <li>
      <a  class="menu-sid8">
          <i class="icon-reward"></i>
          <p>Rewards</p>
      </a>
  </li>
  <li>
      <a class="menu-sid9">
          <i class="icon-settings"></i>
          <p>Business Settings</p>
      </a>
  </li>
</ul>
</div>
