<div *ngIf="AdminService.navTab ==2">
    <!-- Main Container Starts -->
<div class="mainContainer main-container-flg">
    <app-messages></app-messages>
    <div class="comm-headline-btn">
        <h3 class="main-comm-head m-0">
            Roles
            <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right" title="Merge Sales"></i>
        </h3>
        <div class="filter-container-up filter-container-grid">
            <div class="filter-container">
                <a class="button flg-btn side-menu addbtncol" (click)="openModal('add-tax-table');addupdateform('add');">+ Add New</a>
                <div class="form-group mb-0 mr-2">
                    <!-- <form> -->
                        <input class="form-field" type="text" name="filter-searh" required>
                        <p class="form-label">Search</p>
                        <button class="search icon-search" type="submit"></button>
                    <!-- </form> -->
                </div>
                <div class="yur-mail-rig filtdrp-status">
                    <button type="button" class="button line grey status mr-2">
                        <i class="icon-fliter-list"></i>
                        <span>Sort by</span>
                    </button>
                    <ul class="status-list center">
                        <li class="drpFil">Sort by</li>
                        <li><a href="#">Ascending</a></li>
                        <li><a href="#">Descending</a></li>
                    </ul>
                </div>
                <div class="yur-mail-rig filtdrp-status">
                    <button type="button" class="button line grey status">
                        <i class="icon-filter"></i>
                        <span>Fliters</span>
                    </button>
                    <ul class="status-list center">
                        <li class="drpFil">Filters</li>
                        <li><a href="#">Upcoming</a></li>
                        <li><a href="#">Cancelled</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="admin-comm-box">
        <div class="admin-comm-lef">
            <ul class="clearfix tabs role-detail-tab" data-tabgroup="first-tab-group">
                <li *ngFor="let roles of userroles;let i = index" (click)="getrolefunc(roles);GetCompanyRolesClaims(roles.id);AdminService.setIndex(i, roles.name)" [class.active]="AdminService.selectedIndex === i"  id="{{roles.name}}">
                    <a id="admin" class="admin-comm-rig-btn">
                        <!-- start -->
                        <div class="module-role-box">
                            <div class="module-rig">
                                <h6 class="promo-head">{{roles.name}}
                                </h6>
                                <div class="yur-mail-rig">
                                    <i class="icon-status1 status"></i>
                                    <ul class="status-list">
                                        <li (click)="openModal('add-tax-table');addupdateform('update');selectroleobj(roles)"><i class="icon-edit"></i> Edit</li>
                                        <li class="delt" data-toggle="modal" data-target="#deletePopup" (click)="selectroleobj(roles)"><i class="icon-delete"></i> Delete</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="role-para">{{roles.description}}.</p>
                        </div>
                        <!-- end -->
                    </a>
                </li>
            </ul>
        </div>
        <div class="admin-comm-rig" *ngIf="claimsuccess == 0">
            <div class="admin-comm-rig-close">
                <i class="icon-cir-plus"></i>
            </div>
            <!-- start -->
            <section id="first-tab-group" class="tabgroup">
                <div id="tab1" *ngFor="let usrroles of userroles">
                    <div *ngIf="usrroles.id == rolevar">
                        <!-- roles start -->
                        <!-- start -->
                        <h3 class="main-comm-head">
                            {{usrroles.name}}
                            <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right"
                                title="Merge Sales"></i>
                        </h3>
                        <!-- end -->
                        <div class="admin-role-rig-scroll scrollbar">
                            <!-- <form [formGroup]="rolesRightForm" (ngSubmit)="createroles(rolesRightForm.value)"> -->
                            <!-- start -->
                            <p class="role-para mt-0 mb-3">{{usrroles.description}}</p>
                            <!-- end -->

                            <!-- start -->
                            <h6 class="comm-subhdn">Module Rights</h6>
                            <div class="row" >
                                <div class="w100" *ngFor="let moduleright of rolesmodulerights">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">{{moduleright.moduleName}}</h6>
                                            <div class="switch switch--horizontal only-switch"
                                                data-name="customer-switch">
                                                <input class="notif-radio" (click)="moduleonoff($event, false, moduleright.moduleName)" id="{{moduleright.moduleName}}" type="radio"
                                                    name="{{moduleright.moduleName}}" [value]="false" />
                                                <label for="{{moduleright.moduleName}}"></label>
                                                <input class="notif-radio"  (click)="moduleonoff($event, true, moduleright.moduleName)" id="{{moduleright.moduleName}}" type="radio"
                                                    name="{{moduleright.moduleName}}" [value]="true" />
                                                <label for="{{moduleright.moduleName}}"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <div class="module-btm customer-switch">
                                            <div class="checkbox-box" *ngFor="let permission of moduleright.permissions">
                                                <div id="{{moduleright.moduleName}}">
                                                    <input type="checkbox" id="{{permission.permission}}_{{moduleright.moduleName}}" (click)="modulepermission($event, permission.permission, moduleright.moduleName)" name="{{permission.permission}}" required="">
                                                    <label for="{{permission.permission}}_{{moduleright.moduleName}}">{{permission.permission}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                            <!-- end -->

                        <!-- start -->
                        <h6 class="comm-subhdn">Individual Rights</h6>
                        <div class="row">
                            <div class="w100" *ngFor="let individualright of rolesindividualrights">
                                <!-- start -->
                                <div class="module-role-box">
                                    <div class="module-rig">
                                        <h6 class="promo-head">{{individualright.permission}}</h6>
                                        <div class="switch switch--horizontal only-switch">
                                            <input id="{{individualright.permission}}" type="radio" [value]="false" name="{{individualright.permission}}" (click)="individualonoff($event, false, individualright.permission)" name="indiv-radio1" />
                                            <label for="{{individualright.permission}}"></label>
                                            <input id="{{individualright.permission}}" type="radio" [value]="true" name="{{individualright.permission}}" (click)="individualonoff($event, true, individualright.permission)" name="indiv-radio1" />
                                            <label for="{{individualright.permission}}"></label><span class="toggle-outside"><span
                                                    class="toggle-inside"></span></span>
                                        </div>
                                    </div>
                                    <p class="role-para">If this right is given then the user will be
                                        able to see
                                        the New
                                        Sale button
                                        and will
                                        be able to create sales and use the point of sale portion of the
                                        application.</p>
                                </div>
                                <!-- end -->
                            </div>
                        </div>
                        <button class="button" (click)="addupdateroleclaims(usrroles)">Save</button>
                            <!-- end -->
                            <!-- roles end -->
                        <!-- </form> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- end -->
        </div>
        <div class="admin-comm-rig" *ngIf="claimsuccess == 1">
            <div class="admin-comm-rig-close">
                <i class="icon-cir-plus"></i>
            </div>
            <!-- start -->
            <section id="first-tab-group" class="tabgroup">
                <div id="tab1" *ngFor="let usrroles of userroles">
                    <!-- <form [formGroup]="rolesRightForm" (ngSubmit)="addupdateroleclaims(rolesRightForm)"> -->
                        <div *ngIf="usrroles.id == rolevar">
                            <!-- <div *ngFor="let claims of getrolesclaim.result">{{claims}} -->
                                <!-- roles start -->
                                <!-- start -->
                                <h3 class="main-comm-head">
                                    {{usrroles.name}}
                                    <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right"
                                        title="Merge Sales"></i>
                                </h3>
                                <!-- end -->
                                <!-- <div class="admin-role-rig-scroll scrollbar"> -->
                                <p class="role-para mt-0 mb-3">{{usrroles.description}}</p>
                                <!-- end -->

                               <!-- start -->
                            <h6 class="comm-subhdn">Module Rights</h6>
                            <div class="row">
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Customers</h6>
                                            <div class="switch switch--horizontal only-switch"
                                                data-name="customer-switch">
                                                <input class="notif-radio"  id="module1" (click)="rightsupdate('Customers', false, '')" type="radio"
                                                    name="module-radio1" [value]="false" />
                                                <label for="module1"></label>
                                                <input class="notif-radio" id="module12" type="radio" 
                                                    name="module-radio1" [value]="true" (click)="rightsupdate('Customers', true, '')" [checked]="getrolesmodclaim[0].isSelected" />
                                                <label for="module12"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <div class="module-btm customer-switch">
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="mod-chk1" (click)="rightsupdate('Customers', $event, 'view')" [checked]="getrolesmodclaim[0].rights[0].view" name="mod-chk1" required="">
                                                <label for="mod-chk1">View</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="mod-chk2" (click)="rightsupdate('Customers', $event, 'create')" [checked]="getrolesmodclaim[0].rights[0].create" name="mod-chk2" required="">
                                                <label for="mod-chk2">Create</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="mod-chk3" (click)="rightsupdate('Customers', $event, 'update')" [checked]="getrolesmodclaim[0].rights[0].update" name="mod-chk3" required="">
                                                <label for="mod-chk3">Update</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="mod-chk4" (click)="rightsupdate('Customers', $event, 'delete')" [checked]="getrolesmodclaim[0].rights[0].delete" name="mod-chk4" required="">
                                                <label for="mod-chk4">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Appointments</h6>
                                            <div class="switch switch--horizontal only-switch"
                                                data-name="appointment-switch">
                                                <input class="notif-radio" (click)="rightsupdate('Appointments', false, '')" id="module2" type="radio"
                                                    name="module-radio2" value="off" />
                                                <label for="module2"></label>
                                                <input class="notif-radio" id="module12" (click)="rightsupdate('Appointments', true, '')" type="radio" 
                                                    name="module-radio2" [value]="true" [checked]="getrolesmodclaim[1].isSelected" />
                                                <label for="module22"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <div class="module-btm customer-switch">
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="appointment-chk1" (click)="rightsupdate('Appointments', $event, 'view')" [checked]="getrolesmodclaim[1].rights[0].view" name="mod-chk1" required="">
                                                <label for="appointment-chk1">View</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="appointment-chk2" (click)="rightsupdate('Appointments', $event, 'create')" [checked]="getrolesmodclaim[1].rights[0].create" name="mod-chk2" required="">
                                                <label for="appointment-chk2">Create</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="appointment-chk3" (click)="rightsupdate('Appointments', $event, 'update')" [checked]="getrolesmodclaim[1].rights[0].update" name="mod-chk3" required="">
                                                <label for="appointment-chk3">Update</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="appointment-chk4" (click)="rightsupdate('Appointments', $event, 'delete')" [checked]="getrolesmodclaim[1].rights[0].delete" name="mod-chk4" required="">
                                                <label for="appointment-chk4">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Sales</h6>
                                            <div class="switch switch--horizontal only-switch"
                                                data-name="customer-switch">
                                                <input class="notif-radio" (click)="rightsupdate('Sales', false, '')" id="module3" type="radio"
                                                    name="module-radio3" value="off" />
                                                <label for="module1"></label>
                                                <input class="notif-radio" (click)="rightsupdate('Sales', true, '')" id="module32" type="radio" 
                                                    name="module-radio3" [value]="true" [checked]="getrolesmodclaim[2].isSelected" />
                                                <label for="module32"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <div class="module-btm customer-switch">
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="sale-chk1" (click)="rightsupdate('Sales', $event, 'view')" [checked]="getrolesmodclaim[2].rights[0].view" name="mod-chk1" required="">
                                                <label for="sale-chk1">View</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="sale-chk2" (click)="rightsupdate('Sales', $event, 'create')" [checked]="getrolesmodclaim[2].rights[0].create" name="mod-chk2" required="">
                                                <label for="sale-chk2">Create</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="sale-chk3" (click)="rightsupdate('Sales', $event, 'update')" [checked]="getrolesmodclaim[2].rights[0].update" name="mod-chk3" required="">
                                                <label for="sale-chk3">Update</label>
                                            </div>
                                            <div class="checkbox-box">
                                                <input type="checkbox" id="sale-chk4" (click)="rightsupdate('Sales', $event, 'delete')" [checked]="getrolesmodclaim[2].rights[0].delete" name="mod-chk4" required="">
                                                <label for="sale-chk4">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                            <!-- end -->

                            <!-- start -->
                            <h6 class="comm-subhdn">Individual Rights</h6>
                            <div class="row">
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Create New Sale</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv1" type="radio" (click)="irightsupdate('Create New Sale', false)" name="indiv-radio1" />
                                                <label for="indiv1"></label>
                                                <input id="indiv12" type="radio" [checked]="getrolesindclaim[0]?.isSelected" (click)="irightsupdate('Create New Sale', true)" name="indiv-radio1"
                                                  />
                                                <label for="indiv12"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will be
                                            able to see
                                            the New
                                            Sale button
                                            and will
                                            be able to create sales and use the point of sale portion of the
                                            application.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Create New Appointment</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv2" type="radio" (click)="irightsupdate('Create New Appointment', false)" name="indiv-radio2" />
                                                <label for="indiv2"></label>
                                                <input id="indiv22" type="radio" (click)="irightsupdate('Create New Appointment', true)" [checked]="getrolesindclaim[1]?.isSelected" name="indiv-radio2"
                                                />
                                                <label for="indiv22"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will be
                                            able to see
                                            the New
                                            Appointment button and will be able to create appointments.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Manage Sales Commissions, Tips and Turns
                                            </h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv3" type="radio" (click)="irightsupdate('Manage Sales Commissions, Tips and Turns', false)" name="indiv-radio3" />
                                                <label for="indiv3"></label>
                                                <input id="indiv32" type="radio" [checked]="getrolesindclaim[2]?.isSelected" (click)="irightsupdate('Manage Sales Commissions, Tips and Turns', true)" name="indiv-radio3"
                                                   />
                                                <label for="indiv32"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will have
                                            the ability
                                            override
                                            and manage the commissions, tip allocation and turn allocation
                                            for any
                                            completed
                                            sale.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Cancel Appointments</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv4" type="radio" (click)="irightsupdate('Cancel Appointments', false)" name="indiv-radio4" />
                                                <label for="indiv4"></label>
                                                <input id="indiv42" type="radio" (click)="irightsupdate('Cancel Appointments', true)" [checked]="getrolesindclaim[3]?.isSelected" name="indiv-radio4"
                                                 />
                                                <label for="indiv42"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will have
                                            access to
                                            the cancel
                                            appointment function.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Bulk Edit</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv5" type="radio" (click)="irightsupdate('Bulk Edit', false)" name="indiv-radio5" />
                                                <label for="indiv5"></label>
                                                <input id="indiv52" type="radio" (click)="irightsupdate('Bulk Edit', true)" [checked]="getrolesindclaim[4]?.isSelected" name="indiv-radio5"
                                                   />
                                                <label for="indiv52"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will be
                                            able to bulk
                                            edit,
                                            customers, appointments and sales.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Communicate with Customers</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv6" type="radio" (click)="irightsupdate('Communicate with Customers', false)" name="indiv-radio6" />
                                                <label for="indiv6"></label>
                                                <input id="indiv62" type="radio" (click)="irightsupdate('Communicate with Customers', true)" [checked]="getrolesindclaim[5]?.isSelected" name="indiv-radio6"
                                                   />
                                                <label for="indiv62"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will have
                                            access to
                                            the
                                            customers communication menu and will be able to view emails and
                                            communicate
                                            with
                                            customers via email and text messages.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                                <div class="w100">
                                    <!-- start -->
                                    <div class="module-role-box">
                                        <div class="module-rig">
                                            <h6 class="promo-head">Add Customer Notes</h6>
                                            <div class="switch switch--horizontal only-switch">
                                                <input id="indiv7" type="radio" (click)="irightsupdate('Add Customer Notes', false)" name="indiv-radio7" />
                                                <label for="indiv7"></label>
                                                <input id="indiv72" type="radio" (click)="irightsupdate('Add Customer Notes', true)" [checked]="getrolesindclaim[6]?.isSelected" name="indiv-radio7"
                                                   />
                                                <label for="indiv72"></label><span class="toggle-outside"><span
                                                        class="toggle-inside"></span></span>
                                            </div>
                                        </div>
                                        <p class="role-para">If this right is given then the user will have
                                            the ability
                                            to add
                                            notes to the customers profile.</p>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                            <button class="button" (click)="updateroleclaims(usrroles)">Save</button>
                                <!-- end -->
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    <!-- </form> -->
                </div>
            </section>
            <!-- end -->
        </div>

    </div>


</div>
<!-- Main Container Ends -->

<!-- Add/Edit Product -->
<div class="overlay"></div>

<!-- Add/Edit Product End -->
<!-- Delete Modal Starts -->
<div class="modal fade" id="deletePopup">
    <div class="modal-dialog medium-window">
        <div class="modal-content">
            <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

            <h2 class="modal-title">Are you sure you want to delete this Role?</h2>

            <div class="modal-btn">
                <button class="button line mr-2" data-dismiss="modal">No</button>
                <button class="button red" data-dismiss="modal" (click)="deleteRole(arrayofselectedobj)">Yes</button>
            </div>

        </div>
    </div>
</div>
<!-- Delete Modal Ends -->
<addroles-modal [addAdmin]="addform" [updateAdmin]="updateform" [userroleobj]="arrayofselectedobj"></addroles-modal>
</div>
