<link rel="stylesheet" href="../assets/css/_global.less">

<div class="login-container loginActive">
  <div class="login-left">
    <div class="login-left-bg"></div>
    <div class="login-logo"><a href="#"><img src="../assets/img/logo-white.svg" alt="logo" /></a></div>

  </div>

  <div class="login-right">
    <div class="login-box">
    </div>
    <div class="forgot-box" style="display: block;">
      <h3>Forgot Password</h3>
      <form id="forgotForm" [formGroup]="forgotForm" (ngSubmit)="forgotPassword(forgotForm.value)" >
        <div class="login-box-in">
          <div class="form-group">
            <input type="email" id="EmailID" name="email1" formControlName="EmailID" class="form-field" required />
            <p class="form-label">Email</p>
          </div>
          <button class="button button--block orange">Reset</button>
          <div class="forget-login">Already Member : <span class="forget-login-link">Login</span>
          </div>
        </div>
      </form>
      <div class="login-copy">
        ©2019 Payzli Corp. All rights reserved. <br>
        <a href="#">Privacy Policy</a> and <a href="#">Terms Of Use</a>
      </div>
    </div>
  </div>

  </div>
