<div *ngIf="AdminService.navTab==8">
    <!-- Main Container Starts -->
    <div class="mainContainer">
        <div class="comm-headline-btn">
            <h3 class="main-comm-head m-0">Rewards <span>Program</span></h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <button class="button flg-btn side-menu" (click)="modalService.open1('add-reward');addupdateform('add')">+ Add New</button>
                    <div class="form-group mb-0 mr-2">
                        <form>
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status mr-2">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status mr-2">
                            <i class="icon-filter"></i>
                            <span>Fliters</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Filters</li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Cancelled</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main App List Starts -->
        <div class="table-bdy table-report-2" *ngFor="let reward of adminrewards">
            <ul class="table-rw">
                <li>
                    <span>Program Name</span>
                    <b>{{reward.programName}}</b>
                </li>
                <li>
                    <span>Description</span>
                    <b>{{reward.description}}</b>
                </li>
                <li>
                    <span>Reward</span>
                    <div class="form-group input-w80 mb-0 mt-2">
                        <b>{{reward.rewardPercent}}%</b>
                    </div>
                </li>
                <li class="rew-radio-btn">
                    <span>Status</span>
                    <div class="switch switch--horizontal mb-0">
                        <input id="deactive_{{reward.programName}}" type="radio" value="false" name="{{reward.programName}}">
                        <label for="deactive -{{reward.programName}}">Deativate</label>
                        <input id="active_{{reward.programName}}" type="radio" value="true" name="{{reward.programName}}" checked="{{reward.isActive}}">
                        <label for="active_{{reward.programName}}">Activate</label><span class="toggle-outside"><span
                                class="toggle-inside"></span></span>
                    </div>
                </li>
            </ul>
            <div class="yur-mail-rig">
                <i class="icon-status1 status"></i>
                <ul class="status-list">
                    <li class="side-menu" (click)="modalService.open1('add-reward');selectproductobj(reward);addupdateform('update')"><i class="icon-edit"></i> Edit</li>
                    <li class="delt" data-toggle="modal" data-target="#deletePopup" (click)="selectproductobj(reward)" data-backdrop="static"
                        data-keyboard="false"><i class="icon-delete"></i>
                        Delete</li>
                </ul>
            </div>
        </div>
        <!-- Main App List Ends -->
    </div>
    <!-- Main Container Ends -->

    <!-- Add/Edit Product -->
    <div class="overlay"></div>
    <addrewards-modal [addreward]="addrewards" [updatereward]="updaterewards" [rewardsobj]="arrayofselectedobj"></addrewards-modal>
    <!-- Add/Edit Product End -->
    <!-- Delete Modal Starts -->
    <div class="modal fade" id="deletePopup">
        <div class="modal-dialog medium-window">
            <div class="modal-content">
                <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

                <h2 class="modal-title">Are you sure you want to delete this Reward?</h2>

                <div class="modal-btn">
                    <button class="button line mr-2" data-dismiss="modal">No</button>
                    <button class="button red" data-dismiss="modal" (click)="deleteRewards(arrayofselectedobj)">Yes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Delete Modal Ends -->
</div>