<!-- Main Container Starts -->
<div *ngIf="userdataService.notificationnav">
<div class="mainContainer">
  <h3 class="main-comm-head">{{'Notifications' | translate}}</h3>
  <!-- start -->
  <form id="editProfile" [formGroup]="notificationForm"  (ngSubmit)="updateNotification(notificationForm.value)" class="popup-scrll">
  <div class="notif-ovr">
    <div class="email-w520">
      <!-- start -->
      <div class="notif-head">
        <h6>{{'type' | translate}}</h6>
        <div class="notif-head-left">
          <p>{{'Email' | translate}}</p>
          <p>{{'sms' | translate}}</p>
        </div>
      </div>
      <!-- start -->
      <div *ngIf="notifications!=null">
<!--        <div class="notif-body">-->
<!--          <h6>Email Notification</h6>-->
<!--          <div class="notif-switch-left">-->
<!--            <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--              <input id="email1" type="radio" name="emil-noti-emai" />-->
<!--              <label for="email1"></label>-->
<!--              <input id="email11" type="radio" name="emil-noti-emai" checked="checked" />-->
<!--              <label for="email11"></label><span class="toggle-outside"><span-->
<!--              class="toggle-inside"></span></span>-->
<!--            </div>-->
<!--            <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--              <input id="sms1" type="radio" name="emil-noti-sms" checked="checked" />-->
<!--              <label for="sms1"></label>-->
<!--              <input id="sms11" type="radio" name="emil-noti-sms" />-->
<!--              <label for="sms11"></label><span class="toggle-outside"><span-->
<!--              class="toggle-inside"></span></span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!-- end -->
        <!-- start -->
        <!-- end -->


        <div class="notif-body"  *ngFor="let notification of notifications;trackBy:notification?.typeCode">

          <h6>{{notification.notificationType.split('_').join(' ')}}</h6>
          <div class="notif-switch-left">
            <div class="switch switch--horizontal only-switch">
              <input id="email1" type="checkbox" [ngModel]="notification.enableEmailNotification" (change)="notificationsetting($event, 'email', notification.notificationType)" formControlName="NotificationTypeEmail" />
              <label for="email1"></label>
              <input id="email11" type="checkbox" [ngModel]="notification.enableEmailNotification" (change)="notificationsetting($event, 'email', notification.notificationType)" formControlName="NotificationTypeEmail" />
              <label for="email11"></label><span class="toggle-outside"><span
              class="toggle-inside"></span></span>
            </div>
            <div class="switch switch--horizontal only-switch">
              <input id="sms1" type="checkbox" [ngModel]="notification.enableTextNotification" (change)="notificationsetting($event, 'sms', notification.notificationType)" formControlName="NotificationTypeSMS"/>
              <label for="sms1"></label>
              <input id="sms11" type="checkbox" [ngModel]="notification.enableTextNotification" (change)="notificationsetting($event, 'sms', notification.notificationType)" formControlName="NotificationTypeSMS"/>
              <label for="sms11"></label><span class="toggle-outside"><span
              class="toggle-inside"></span></span>
            </div>
        </div>
<!--        <div class="notif-switch-left">-->
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="email_{{i}}" type="radio" value="false" (click)="notificationsetting($event, 'email', notification.notificationType)" name="{{notification.notificationType}}_email"/>-->
<!--            <label for="email_{{i}}"></label>-->
<!--            <input id="email1_{{i}}" type="radio"  [checked]="notification?.enableEmailNotification" value="true" (click)="notificationsetting($event, 'email', notification.notificationType)" name="{{notification.notificationType}}_email" />-->
<!--            <label for="email1_{{i}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="sms1_{{i}}" type="radio" value="false" (click)="notificationsetting($event, 'sms', notification.notificationType)" name="{{notification.notificationType}}_sms"/>-->
<!--            <label for="sms1_{{i}}"></label>-->
<!--            <input id="sms11_{{i}}" type="radio" [checked]="notification?.enableTextNotification"  value="true"  (click)="notificationsetting($event, 'sms', notification.notificationType)" name="{{notification.notificationType}}_sms"/>-->
<!--            <label for="sms11_{{i}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->
<!--        </div>-->
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="email2_{{notification.typeCode}}" type="checkbox" formControlName="EnableEmailNotification" (change)="notificationsetting($event, 'email', notification.typeName )" [value]="true"/>-->
<!--            <label for="email2_{{notification.typeCode}}"></label>-->
<!--            <input id="email21_{{notification.typeCode}}" type="checkbox" formControlName="EnableEmailNotification" (change)="notificationsetting($event, 'email', notification.typeName)" [value]="false" />-->
<!--            <label for="email21_{{notification.typeCode}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="sms2_{{notification.typeCode}}" type="checkbox"  formControlName="EnableTextNotification" (change)="notificationsetting($event, 'sms', notification.typeName)" [value]="true"/>-->
<!--            <label for="sms2_{{notification.typeCode}}"></label>-->
<!--            <input id="sms21_{{notification.typeCode}}" type="checkbox" formControlName="EnableTextNotification" (change)="notificationsetting($event, 'sms', notification.typeName)"[value]="false"/>-->
<!--            <label for="sms21_{{notification.typeCode}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->

      </div>
        <div *ngIf="notifications==null || notifications=='' ">
        <div class="notif-body"   *ngFor="let notification of masternotifications;trackBy:notification?.typeCode">

          <h6>{{notification.typeName.split('_').join(' ')}}</h6>
          <div class="notif-switch-left">
            <div class="switch switch--horizontal only-switch">
              <input id="email1" type="checkbox"  (change)="notificationsetting($event, 'email', notification.typeName)" formControlName="NotificationTypeEmail" />
              <label for="email1"></label>
              <input id="email11" type="checkbox"  (change)="notificationsetting($event, 'email', notification.typeName)" formControlName="NotificationTypeEmail" />
              <label for="email11"></label><span class="toggle-outside"><span
              class="toggle-inside"></span></span>
            </div>
            <div class="switch switch--horizontal only-switch">
              <input id="sms1" type="checkbox"  (change)="notificationsetting($event, 'sms', notification.typeName)" formControlName="NotificationTypeSMS"/>
              <label for="sms1"></label>
              <input id="sms11" type="checkbox" (change)="notificationsetting($event, 'sms', notification.typeName)" formControlName="NotificationTypeSMS"/>
              <label for="sms11"></label><span class="toggle-outside"><span
              class="toggle-inside"></span></span>
            </div>
          </div>
      </div>
      <!-- end -->
      <!-- start -->

      <!-- end -->
      <!-- start -->

      <!-- end -->
      <!-- start -->

      <!-- end -->

      <!-- end -->
    </div>
  </div>
  <!-- end -->
    <button class="button w10">{{'Save' | translate}}</button>
    </div>
    </div>
  </form>


</div>
<!-- Main Container Ends -->

<!-- start -->
<div class="time-track">
  <div class="time-hed">
    <h6>Time Tracker</h6>
    <a href="#"><i class="icon-minus"></i></a>
  </div>

  <div class="trak-sld">

    <div class="trk-prof">
      <div class="trk-det">
        <div class="user-img"><img src="img/profile.svg" alt=""></div>
        <div class="trk-name">
          <h3>Maya Didas<span>Technician</span></h3>
        </div>
      </div>
      <div id="stopWatch">
        <h6 id="time">00:00</h6>
      </div>
    </div>

    <div class="trk-btn">
      <button class="button" id="start">Start</button>
      <button class="button blue" id="stop">Stop</button>
    </div>

    <div class="form-group">
      <select class="select-field form-field valid" name="select-fld" id="select-fld" required=""
              aria-invalid="false">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
      <p class="form-label sel-blk">Task</p>
    </div>

  </div>
</div>
<div class="time-track-btn"><i class="icon-clock"></i></div>
<!-- end -->
</div>
