<!-- Main Container Starts -->
<div *ngIf="userdataService.notificationnav">
<div class="mainContainer">
  <h3 class="main-comm-head">{{'Notifications' | translate}}</h3>
  <!-- start -->
  <form id="editProfile" [formGroup]="notificationForm"  (ngSubmit)="updateNotification(notificationForm.value)" class="popup-scrll">
  <div class="notif-ovr">
    <div class="email-w520">
      <!-- start -->
      <div class="notif-head">
        <h6>{{'type' | translate}}</h6>
        <div class="notif-head-left">
          <p>{{'Email' | translate}}</p>
          <p>{{'sms' | translate}}</p>
        </div>
      </div>
      <!-- start -->
      <div class="notif-body" *ngFor="let notification of notifications;trackBy:notification?.typeCode; let i = index">

        <h6>{{notification.notificationType}} </h6>
        <div class="notif-switch-left" >
          <div class="switch switch--horizontal only-switch">
            <input id="email1" type="checkbox" [(ngModel)]="notification.enableEmailNotification" (change)="notificationsetting($event, 'email', notification.notificationType)" formControlName="EnableEmailNotification" />
            <label for="email1"></label>
            <input id="email11" type="checkbox" [(ngModel)]="notification.enableEmailNotification" (change)="notificationsetting($event, 'email', notification.notificationType)" formControlName="EnableEmailNotification" />
            <label for="email11"></label><span class="toggle-outside"><span
            class="toggle-inside"></span></span>
          </div>
          <div class="switch switch--horizontal only-switch">
            <input id="sms1" type="checkbox"  [(ngModel)]="notification.enableTextNotification" (change)="notificationsetting($event, 'sms', notification.notificationType)" formControlName="EnableTextNotification"/>
            <label for="sms1"></label>
            <input id="sms11" type="checkbox" [(ngModel)]="notification.enableTextNotification" (change)="notificationsetting($event, 'sms', notification.notificationType)" formControlName="EnableTextNotification"/>
            <label for="sms11"></label><span class="toggle-outside"><span
            class="toggle-inside"></span></span>
          </div>
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="email2_{{notification.typeCode}}" type="checkbox" formControlName="EnableEmailNotification" (change)="notificationsetting($event, 'email', notification.typeName )" [value]="true"/>-->
<!--            <label for="email2_{{notification.typeCode}}"></label>-->
<!--            <input id="email21_{{notification.typeCode}}" type="checkbox" formControlName="EnableEmailNotification" (change)="notificationsetting($event, 'email', notification.typeName)" [value]="false" />-->
<!--            <label for="email21_{{notification.typeCode}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->
<!--          <div class="switch switch&#45;&#45;horizontal only-switch">-->
<!--            <input id="sms2_{{notification.typeCode}}" type="checkbox"  formControlName="EnableTextNotification" (change)="notificationsetting($event, 'sms', notification.typeName)" [value]="true"/>-->
<!--            <label for="sms2_{{notification.typeCode}}"></label>-->
<!--            <input id="sms21_{{notification.typeCode}}" type="checkbox" formControlName="EnableTextNotification" (change)="notificationsetting($event, 'sms', notification.typeName)"[value]="false"/>-->
<!--            <label for="sms21_{{notification.typeCode}}"></label><span class="toggle-outside"><span-->
<!--            class="toggle-inside"></span></span>-->
<!--          </div>-->
        </div>
        <!-- end -->
        <!-- start -->

        <!-- end -->
        <!-- start -->

        <!-- end -->
        <!-- start -->

        <!-- end -->

        <!-- end -->
      </div>
   </div>
  <!-- end -->
    <button class="button w10">{{'Save' | translate}}</button>
  </div>
  </form>

</div>
<!-- Main Container Ends -->

<!-- start -->
<div class="time-track">
  <div class="time-hed">
    <h6>Time Tracker</h6>
    <a href="#"><i class="icon-minus"></i></a>
  </div>

  <div class="trak-sld">

    <div class="trk-prof">
      <div class="trk-det">
        <div class="user-img"><img src="img/profile.svg" alt=""></div>
        <div class="trk-name">
          <h3>Maya Didas<span>Technician</span></h3>
        </div>
      </div>

      <div class="trk-btn">
        <button class="button" id="start">Start</button>
        <button class="button blue" id="stop">Stop</button>
      </div>

      <div class="form-group">
        <select class="select-field form-field valid" name="select-fld" id="select-fld" required=""
                aria-invalid="false">
          <option></option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
        <p class="form-label sel-blk">Task</p>
      </div>

    </div>
  </div>
  <div class="time-track-btn"><i class="icon-clock"></i></div>
  <!-- end -->
  </div>
