<div *ngIf="router.url === '/dashboard' || router.url === '/admin' || router.url === '/saleslist' || router.url === '/saleslistcommissionsplit' || router.url === '/customer' || router.url ==='/appointmentlist' || router.url === '/addcustomer' || router.url === '/customerappointment' || router.url === '/allcustomerappointment' || router.url === '/getcustomerappointment' || router.url === '/appointment' || router.url === '/mergesalescart' || router.url === '/updatecustomer'  || router.url === '/newsales' || router.url ===  '/allcustomer' || router.url === '/transactionnewsales' || router.url === '/appointmentedit' || router.url === '/transactioncart' || router.url === '/transactiontipadjustment' || router.url === '/getcustomer' || router.url === '/customerdashboard' || router.url === '/transactionproduct'">
  <header>
    <div class="head-top">
      <div class="head-lef">
        <a href="#"><img src="../../../assets/img/logo.png" alt="logo"></a>
      </div>
      <div class="head-rig">
        <ul>
          <li><a href="dashboard" class="active">{{'Dashboard' | translate}}</a></li>
          <li><a href="customer">{{'Customers' | translate}}</a></li>
          <li><a href="appointmentlist">{{'Appointment' | translate}}</a></li>
          <li><a href="saleslist">{{'Sales' | translate}}</a></li>
          <li><a href="#">{{'Analytics' | translate}}</a></li>
          <li><a href="admin">{{'Administration' | translate}}</a></li>
        </ul>
        <button class="button white"><a href="appointment">{{'New' | translate}} {{'Appointment' | translate}}</a></button>
        <button class="button line whitelin"><a href="newsales" class="custom-btn">{{'New' | translate}} {{'Sale' | translate}}</a></button>
        <div class="head-ico">
          <i class="icon-question suprt-service"></i>
        </div>
        <div class="head-ico active">
          <i class="icon-bell"></i>

          <!--notificatin a start -->
          <span><span class="hrtbit"></span></span>
          <!-- end -->
        </div>
        <div class="yur-mail-rig head-drop">
          <div class="profile status">
            <div class="pro-img"><img src="../../../assets/img/profile.svg" alt="profile img"></div>
            <i class="icon-down-arrow"></i>
          </div>
          <ul class="status-list">
            <li><a href="dashboard"><i class="icon-profile"></i>My Profile</a></li>
            <li class="log-out"><a href="login"><i class="icon-logout"></i>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="mobMenuIcon"><i class="icon-fliter-list"></i></div>
  <div class="mob-menu-box">
    <div class="mob-menu-hdn">
      <h4>{{'Menu' | translate}}</h4>
      <div class="mob-menu-close">
        <i class="icon-cir-plus"></i>
      </div>
    </div>
    <div class="mob-menu-flex">
      <ul>
        <li><a href="#" class="active">{{'Dashboard' | translate}}</a></li>
        <li><a href="#">{{'Customers' | translate}}</a></li>
        <li><a href="#">{{'Appointment' | translate}}</a></li>
        <li><a href="#">{{'Sales' | translate}}</a></li>
        <li><a href="#">{{'Analytics' | translate}}</a></li>
        <li><a href="#">{{'Administration' | translate}}</a></li>
      </ul>
      <div class="mob-menu-btn-box">
        <button class="button white">{{'New' | translate}} {{'Appointment' | translate}}</button>
        <button class="button line whitelin">{{'New' | translate}} {{'Sale' | translate}}</button>
      </div>
    </div>
    <div class="mob-terms">
      <p><a href="#">{{'Privacy Policy' | translate}}</a> | <a href="#">{{'Terms Of Use' | translate}}</a></p>
      <p>{{'©2019 Payzli Corp. All Rights Reserved' | translate}}.</p>
    </div>
  </div>

  <!-- support start -->
<!--  <div class="support">-->
<!--    <div class="support-head">-->
<!--      <h6>Support</h6>-->
<!--      <i class="icon-cir-cross"></i>-->
<!--    </div>-->
<!--    <div class="suprt-body">-->
<!--      <div class="form-group">-->
<!--        <input class="form-field" type="text" name="suprt-searh" required="">-->
<!--        <p class="form-label">Search</p>-->
<!--        <i class="search icon-search"></i>-->
<!--      </div>-->
<!--      <div class="suprt-servi-box scrollbar">-->
<!--        <ul class="suprt-servi">-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#" class="suprt-categry">-->
<!--              <i class="icon-support"></i>-->
<!--              <p>Category</p>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <h6 class="poptile">Timezone</h6>-->
<!--      <ul class="suport-notify">-->
<!--        <li><a href="#">Email Notification</a></li>-->
<!--        <li><a href="#">SMS Notification</a></li>-->
<!--        <li><a href="#">General Notification</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
  <!-- support end -->
</div>
