.addbtncol{
    color: #fff !important;
}
.role-class-display{
    display: block;
  }
  .role-class-display-none{
    display: none;
  }
  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }  
  ::ng-deep .e-multi-select-wrapper .e-chips{
    border-radius: 0px !important;
  }

  .scroll-padding::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.15);
    border-radius: 10px;
  }
  
  .scroll-padding::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
  }
  
  .scroll-padding::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.85);
    border-radius: 10px;
  } 
  .scroll-padding::-webkit-scrollbar-thumb {
    background-color: #a7b3c4;
    border-radius: 10px;
    transition: .5s;
  }  