<div *ngIf="AdminService.navTab==1">
    <div class="mainContainer main-container-flg">
        <div class="comm-headline-btn">
            <h3 class="main-comm-head m-0">
                Users
                <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right" title="Merge Sales"></i>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a class="button flg-btn side-menu addbtncol" (click)="openModal('add-tax-table1');addupdateform('add');">+ Add New</a>
                    <div class="form-group mb-0 mr-2">
                        <!-- <form> -->
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        <!-- </form> -->
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status mr-2">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status">
                            <i class="icon-filter"></i>
                            <span>Fliters</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Filters</li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Cancelled</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="admin-comm-box">
            <div class="admin-comm-lef">
                <ul class="clearfix tabs user-detail-lef-tab" data-tabgroup="first-tab-group">
                    <li *ngFor="let user of userlist;  let i = index" (click)="getemailfunc(user);getuserHistory(user);getuserRoles(user); AdminService.setIndex(i, user.user.id)" [class.active]="AdminService.selectedIndex === i"  id="{{user.user.id}}">
                        <a class="admin-comm-rig-btn" >
                            <!-- start -->
                            <div class="table-bdy">
                                <!-- start -->
                                <div class="tab-top-head">
                                    <div class="techi-user">
                                        <div class="tech-user-img"><img src="../../../assets/img/histry-user.svg" alt=""></div>
                                        <div class="tech-usr-cont">
                                            <p>User</p>
                                            <h3>{{user.user.firstName}} {{user.user.lastName}}</h3>
                                        </div>
                                    </div>
                                    <div class="yur-mail-rig">
                                        <i class="icon-status1 status"></i>
                                        <ul class="status-list">
                                            <li (click)="openModal('add-tax-table1');addupdateform('update');selectroleobj(user)"><i class="icon-edit" ></i> Edit</li>
                                            <li class="delt" data-toggle="modal" data-target="#deletePopup" (click)="selectroleobj(user.user)"><i class="icon-delete"></i> Delete</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end -->

                                <ul class="table-rw">
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Mobile</span>
                                        {{user.user.phoneNumber}}
                                    </li>
                                    <!-- end -->
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Email</span>
                                        {{user.user.email}}
                                    </li>
                                    <!-- end -->
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Role</span>
                                        {{user.roleList}}
                                    </li>
                                    <!-- end -->
                                </ul>
                            </div>
                            <!-- end -->
                        </a>
                    </li>
                </ul>
            </div>

            <div class="admin-comm-rig">
                <div class="admin-comm-rig-close">
                    <i class="icon-cir-plus"></i>
                </div>
                <!-- start -->
                <section id="first-tab-group" class="tabgroup">
                    <div id="tab1">
                        <!-- start -->
                        <ul class="clearfix tabs user-detail-tab-rig" data-tabgroup="second-tab-group">
                            <li><a (click)="AdminService.showSubtab(1)" [ngClass]="{'active': AdminService.showTab==1}" id="userdetail">User Details</a></li>
                            <li><a (click)="AdminService.showSubtab(2)" [ngClass]="{'active': AdminService.showTab==2}" id="roles">Roles</a></li>
                            <li><a (click)="AdminService.showSubtab(3);getuserHistory(userlist[AdminService.selectedIndex])" [ngClass]="{'active': AdminService.showTab==3}" id="history">History</a></li>
                        </ul>
                      <app-userdetail [userdetail]="userlist"></app-userdetail>
                      <app-userrights [userrolesuccess]="userrolesuccess" [userdetail]="userlist" [userrole]="userroles"></app-userrights>
                      <app-userhistory [userdetail]="userlist" [userhistory]="userhistory"></app-userhistory>
                        <!-- end -->
                    </div>
                </section>
                <!-- end -->
            </div>

        </div>


    </div>
    <!-- Main Container Ends -->

    <!-- Add/Edit Product -->

    <!-- Add/Edit Product End -->
    <!-- Delete Modal Starts -->
    <div class="modal fade" id="deletePopup">
        <div class="modal-dialog medium-window">
            <div class="modal-content">
                <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

                <h2 class="modal-title">Are you sure you want to delete this User?</h2>

                <div class="modal-btn">
                    <button class="button line mr-2" data-dismiss="modal">No</button>
                    <button class="button red" data-dismiss="modal" (click)="deleteUser(arrayofselectedobj)">Yes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Delete Modal Ends -->
</div>
<adduser-modal [addAdmin]="addform" [updateAdmin]="updateform" [userobj]="arrayofselectedobj"></adduser-modal>

<app-messages></app-messages>