<div *ngIf="AdminService.usernav">
    <div class="mainContainer main-container-flg">
        <app-messages></app-messages>
        <div class="comm-headline-btn">
            <h3 class="main-comm-head m-0">
                Users
                <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right" title="Merge Sales"></i>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a class="button flg-btn side-menu addbtncol" (click)="openModal('add-tax-table1');addupdateform('add');">+ Add New</a>
                    <div class="form-group mb-0 mr-2">
                        <!-- <form> -->
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        <!-- </form> -->
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status mr-2">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status">
                            <i class="icon-filter"></i>
                            <span>Fliters</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Filters</li>
                            <li><a href="#">Upcoming</a></li>
                            <li><a href="#">Cancelled</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="admin-comm-box">
            <div class="admin-comm-lef">
                <ul class="clearfix tabs user-detail-lef-tab" data-tabgroup="first-tab-group">
                    <li *ngFor="let user of userlist" (click)="getemailfunc(user);getuserHistory(user)" id="{{user.user.email}}">
                        <a class="admin-comm-rig-btn">
                            <!-- start -->
                            <div class="table-bdy">
                                <!-- start -->
                                <div class="tab-top-head">
                                    <div class="techi-user">
                                        <div class="tech-user-img"><img src="../../../assets/img/histry-user.svg" alt=""></div>
                                        <div class="tech-usr-cont">
                                            <p>User</p>
                                            <h3>{{user.user.firstName}} {{user.user.lastName}}</h3>
                                        </div>
                                    </div>
                                    <div class="yur-mail-rig">
                                        <i class="icon-status1 status"></i>
                                        <ul class="status-list">
                                            <li (click)="openModal('add-tax-table1');addupdateform('update');selectroleobj(user.user)"><i class="icon-edit" ></i> Edit</li>
                                            <li class="delt" data-toggle="modal" data-target="#deletePopup" (click)="selectroleobj(user.user)"><i class="icon-delete"></i> Delete</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end -->

                                <ul class="table-rw">
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Mobile</span>
                                        {{user.user.phoneNumber}}
                                    </li>
                                    <!-- end -->
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Email</span>
                                        {{user.user.email}}
                                    </li>
                                    <!-- end -->
                                    <!-- start -->
                                    <li class="table-dta">
                                        <span>Role</span>
                                        {{user.roleList}}
                                    </li>
                                    <!-- end -->
                                </ul>
                            </div>
                            <!-- end -->
                        </a>
                    </li>
                </ul>
            </div>

            <div class="admin-comm-rig">
                <div class="admin-comm-rig-close">
                    <i class="icon-cir-plus"></i>
                </div>
                <!-- start -->
                <section id="first-tab-group" class="tabgroup">
                    <div id="tab1">
                        <!-- start -->
                        <ul class="clearfix tabs user-detail-tab-rig" data-tabgroup="second-tab-group">
                            <li><a (click)="userdetailsctive('userdetail')" id="userdetail" class="active">User Details</a></li>
                            <li><a (click)="userdetailsctive('roles')" id="roles">Roles</a></li>
                            <li><a (click)="userdetailsctive('history');getuserHistory(userlist[0])" id="history">History</a></li>
                        </ul>

                        <section id="second-tab-group" class="tabgroup">
                            <div id="inner-tab1" *ngIf="userdetailvar">
                                <div *ngFor="let userdetail of userlist">
                                    <div *ngIf="userdetail.user.email == emailvar || (userdetail.user.email == pageinitemail && onloadvar)">
                                <!-- user details start -->
                                <!-- start -->
                                <div class="comm-headline-btn comm-headline-btn-admin">
                                    <h3 class="main-comm-head m-0">
                                        User <span>Details</span>
                                        <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right"
                                            title="Merge Sales"></i>
                                    </h3>
                                    <a class="button addbtncol" (click)="openModal('add-tax-table1');addupdateform('update');selectroleobj(userdetail.user)">Update</a>
                                </div>
                                <!-- end -->
                                <div class="admin-comm-rig-scroll scrollbar" >
                                    <!-- start -->
                                    <div class="avatar-upload inventory-image">
                                        <div class="avatar-edit">
                                            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                                            <label for="imageUpload"><i class="icon-uploading grd-icon"></i></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url(../../../assets/img/usr-profile.svg);">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->

                                    <!-- start -->
                                    <div class="row">
                                        <div class="w100">
                                            <!-- start -->
                                            <h6 class="poptile">Personal Info</h6>
                                            <div class="prof-comm-shad mb-4">
                                                <div class="comm-cont w33 w-1200-50 mb-1200-10 p-0">
                                                    <p>First Name</p>
                                                    <h6>{{userdetail.user.firstName}}</h6>
                                                </div>
                                                <div class="comm-cont w33 w-1200-50 mb-1200-10 p-0">
                                                    <p>Last Name</p>
                                                    <h6>{{userdetail.user.lastName}}</h6>
                                                </div>
                                                <div class="comm-cont w33 w-1200-50 p-0">
                                                    <p>Gender</p>
                                                    <h6>{{userdetail.user.gender}}</h6>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                        <div class="w100">
                                            <!-- start -->
                                            <h6 class="poptile">contact info</h6>
                                            <div class="prof-comm-shad mb-4">
                                                <div class="comm-cont w33 w-1200-100 mb-1200-10 p-0">
                                                    <p>Mobile</p>
                                                    <h6>{{userdetail.user.phoneNumber}}</h6>
                                                </div>
                                                <div class="comm-cont w33 w-1200-100 mb-1200-0 p-0">
                                                    <p>Email</p>
                                                    <h6>{{userdetail.user.email}}</h6>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                        <div class="w100">
                                            <!-- start -->
                                            <h6 class="poptile">Service(s) Associated</h6>
                                            <div class="prof-comm-shad mb-4">
                                                <div class="comm-cont w100 p-0">
                                                    <p>Service(s)</p>
                                                    <h6>{{userdetail.serviceAssociatedList}}</h6>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                        <div class="w50">
                                            <!-- start -->
                                            <h6 class="poptile">Experience</h6>
                                            <div class="prof-comm-shad mb-4">
                                                <div class="comm-cont w100 p-0">
                                                    <p>Experience Level</p>
                                                    <h6>{{userdetail.levelType}}</h6>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                        <div class="w50">
                                            <!-- start -->
                                            <h6 class="poptile">Track Hours</h6>
                                            <div class="prof-comm-shad mb-4">
                                                <div class="comm-cont w100 p-0">
                                                    <p>Track Hours</p>
                                                    <h6>{{userdetail.user.timeTrack}}</h6>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                                <!-- user details end -->
                                </div>
                                </div>
                            </div>
                            <div id="inner-tab2" *ngIf="rolesvar">
                                <div *ngFor="let userdet of userlist">
                                    <div *ngIf="userdet.user.email == emailvar || (userdet.user.email == pageinitemail && onloadvar)">
                                <!-- roles start -->
                                <!-- start -->
                                <div class="comm-headline-btn comm-headline-btn-admin">
                                    <h3 class="main-comm-head m-0">
                                        Roles
                                        <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right"
                                            title="Merge Sales"></i>
                                    </h3>
                                    <div class="filter-container">
                                        <a href="#" class="button mr-2">Save</a>
                                        <a href="#" class="button line mr-2">Cancel</a>
                                        <a href="#" class="button line orange">Reset</a>
                                    </div>
                                </div>
                                <!-- end -->
                                <div class="admin-comm-rig-scroll scrollbar">
                                    <!-- start -->
                                    <h6 class="comm-subhdn">{{userdet.user.firstName}}'s Role</h6>
                                    <div class="row" *ngFor="let roles of userroles">
                                        <div class="w50 w-1200-100">
                                            <!-- start -->
                                            <div class="yur-mail-box">
                                                <h6 class="promo-head">{{roles.name}}</h6>
                                                <div class="switch switch--horizontal only-switch">
                                                    <input id="admin1" type="radio" [value]="false" name="admi-radio1" />
                                                    <label for="admin1"></label>
                                                    <input id="admin12" type="radio" [value]="true" name="admi-radio1" />
                                                    <label for="admin12"></label><span class="toggle-outside"><span
                                                            class="toggle-inside"></span></span>
                                                </div>
                                            </div>
                                            <!-- end -->
                                        </div>
                                    </div>
                                    <!-- end -->
                                    <form [formGroup]="userrightForm">
                                        <!-- start -->
                                        <h6 class="comm-subhdn">Module Rights</h6>
                                        <div class="row">
                                            <div class="w100" *ngFor="let moduleright of rolesmodulerights">
                                                <!-- start -->
                                                <div class="module-role-box">
                                                    <div class="module-rig">
                                                        <h6 class="promo-head">{{moduleright.moduleName}}</h6>
                                                        <div class="switch switch--horizontal only-switch"
                                                            data-name="customer-switch">
                                                            <input class="notif-radio" id="{{moduleright.moduleName}}" type="radio"
                                                                name="{{moduleright.moduleName}}" [value]="false" />
                                                            <label for="{{moduleright.moduleName}}"></label>
                                                            <input class="notif-radio" id="{{moduleright.moduleName}}" type="radio"
                                                                name="{{moduleright.moduleName}}" [value]="true" />
                                                            <label for="{{moduleright.moduleName}}"></label><span class="toggle-outside"><span
                                                                    class="toggle-inside"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="module-btm customer-switch">
                                                        <div class="checkbox-box" *ngFor="let permission of moduleright.permissions">
                                                            <div>
                                                                <input type="checkbox" id="{{permission.permission}}_{{moduleright.moduleName}}" name="{{permission.permission}}" required="">
                                                                <label for="{{permission.permission}}_{{moduleright.moduleName}}">{{permission.permission}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end -->
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- start -->
                                        <h6 class="comm-subhdn">Individual Rights</h6>
                                        <div class="row">
                                            <div class="w100" *ngFor="let individualright of rolesindividualrights">
                                                <!-- start -->
                                                <div class="module-role-box">
                                                    <div class="module-rig">
                                                        <h6 class="promo-head">{{individualright.permission}}</h6>
                                                        <div class="switch switch--horizontal only-switch">
                                                            <input id="{{individualright.permission}}" type="checkbox" name="indiv-radio1" ngModel="{{individualright.isActive}}"/>
                                                            <label for="{{individualright.permission}}"></label>
                                                            <input id="{{individualright.permission}}" type="checkbox" name="indiv-radio1" ngModel="{{individualright.isActive}}"/>
                                                            <label for="{{individualright.permission}}"></label><span class="toggle-outside"><span
                                                                    class="toggle-inside"></span></span>
                                                        </div>
                                                    </div>
                                                    <p class="role-para">If this right is given then the user will be
                                                        able to see
                                                        the New
                                                        Sale button
                                                        and will
                                                        be able to create sales and use the point of sale portion of the
                                                        application.</p>
                                                </div>
                                                <!-- end -->
                                            </div>
                                        </div>
                                        <button class="button" type="submit">Save</button>
                                    </form>
                                </div>
                                <!-- roles end -->
                                </div>
                                </div>
                            </div>
                            <div id="inner-tab3" *ngIf="historyvar">
                                <!-- History start -->
                                <!-- start -->
                                <div class="comm-headline-btn">
                                    <h3 class="main-comm-head m-0">
                                        History
                                        <i class="icon-question rig-icn" data-toggle="tooltip" data-placement="right"
                                            title="Merge Sales"></i>
                                    </h3>
                                    <div class="filter-container-up filter-container-grid">
                                        <div class="filter-container">
                                            <div class="form-group mb-0 mr-2">
                                                <!-- <form> -->
                                                    <input class="form-field" type="text" name="filter-searh" required>
                                                    <p class="form-label">Search</p>
                                                    <button class="search icon-search" type="submit"></button>
                                                <!-- </form> -->
                                            </div>
                                            <div class="yur-mail-rig filtdrp-status">
                                                <button type="button" class="button line grey status mr-2">
                                                    <i class="icon-fliter-list"></i>
                                                    <span>Sort by</span>
                                                </button>
                                                <ul class="status-list center">
                                                    <li class="drpFil">Sort by</li>
                                                    <li><a href="#">Ascending</a></li>
                                                    <li><a href="#">Descending</a></li>
                                                </ul>
                                            </div>
                                            <div class="yur-mail-rig filtdrp-status">
                                                <button type="button" class="button line grey status">
                                                    <i class="icon-filter"></i>
                                                    <span>Fliters</span>
                                                </button>
                                                <ul class="status-list center">
                                                    <li class="drpFil">Filters</li>
                                                    <li><a href="#">Upcoming</a></li>
                                                    <li><a href="#">Cancelled</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- end -->
                                <div class="admin-comm-rig-scroll scrollbar">
                                    <!-- start -->
                                    <div class="table-bdy" *ngFor="let history of userhistory">
                                        <!-- start -->
                                        <div class="tab-top-head">
                                            <h4 class="gridhead mb-0">{{history.eventName}}</h4>
                                            <div class="yur-mail-rig">
                                                <i class="icon-status1 status"></i>
                                                <ul class="status-list">
                                                    <li><i class="icon-edit"></i> Edit</li>
                                                    <li class="delt"><i class="icon-delete"></i> Delete</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <ul class="table-rw">
                                            <!-- start -->
                                            <!-- <li class="table-dta mr-0 w33 w-1440-50">
                                                <span>Service</span>
                                                <div class="table-prodt-list">
                                                    <p>Nail Polish, Pedicure</p> <i class="icon-info"
                                                        data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                        title="<ul class='tooltip-list'> <li>Face Cream</li> <li>Skin Toner</li> <li>Hair Lotion</li> </ul>"></i>
                                                </div>
                                            </li> -->
                                            <!-- end -->
                                            <!-- start -->
                                            <li class="table-dta mr-0 w33 w-1440-50">
                                                <span>Event Category</span>
                                                {{history.eventCategory}}
                                            </li>
                                            <!-- end -->
                                            <!-- start -->
                                            <li class="table-dta mr-0 w33 w-1440-50">
                                                <span>Date</span>
                                                {{history.date}}
                                            </li>
                                            <!-- end -->
                                            <!-- start -->
                                            <li class="table-dta mr-0 w33 w-1440-50">
                                                <span>Time</span>
                                                {{history.time}}
                                            </li>
                                            <!-- end -->
                                            <!-- start -->
                                            <li class="table-dta mr-0 w33 w-1440-50">
                                                <span>Description</span>
                                                <p class="txt-elips">{{history.description}}</p>
                                            </li>
                                            <!-- end -->
                                            <!-- start -->
                                            <li class="table-dta mr-0 w33 w-1440-50">
                                                <div class="techi-user">
                                                    <div class="tech-user-img"><img src="../../../assets/img/histry-user.svg" alt="">
                                                    </div>
                                                    <div class="tech-usr-cont">
                                                        <p>User</p>
                                                        <h3>{{history.userName}}</h3>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- end -->
                                        </ul>
                                    </div>
                                    <!-- end -->
                                </div>
                                <!-- History end -->
                            </div>
                        </section>
                        <!-- end -->
                    </div>
                </section>
                <!-- end -->
            </div>

        </div>


    </div>
    <!-- Main Container Ends -->

    <!-- Add/Edit Product -->
    <div class="overlay"></div>

    <!-- Add/Edit Product End -->
    <!-- Delete Modal Starts -->
    <div class="modal fade" id="deletePopup">
        <div class="modal-dialog medium-window">
            <div class="modal-content">
                <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

                <h2 class="modal-title">Are you sure you want to delete this User?</h2>

                <div class="modal-btn">
                    <button class="button line mr-2" data-dismiss="modal">No</button>
                    <button class="button red" data-dismiss="modal" (click)="deleteUser(arrayofselectedobj)">Yes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Delete Modal Ends -->
</div>
<adduser-modal [addAdmin]="addform" [updateAdmin]="updateform" [userobj]="arrayofselectedobj"></adduser-modal>
