<!-- Main Container Starts -->

<div id="email-sid" *ngIf="userdataService.emailnav">
<div class="mainContainer" *ngIf="emailsign">
  <div class="main-head-flx">
    <h3 class="main-comm-head mb-0">{{'Email' | translate}} <span>{{'Settings' | translate}}</span></h3>
    <i class="icon-edit grd-icon-big hover-rotate side-menu" (click)="modalService.open1('side-menu-imap')"></i>
  </div>
  <!-- start -->
  <div class="comm-w520">
    <!-- start -->
    <div class="mail-sign">
      <h6 class="poptile">Email Signature</h6>
      <div class="mail-regrd">
        <p class="regd">Regards,</p>
        <div [innerHTML]="userdetail.emailSignature  | safeHtml" ></div>
      </div>
      <p class="regd">Disclaimer: This e-mail is confidential. If you are not the intended recipient you
        must
        not disclose, distribute or use the information in it as this could be a breach of
        confidentiality. If you have received this message in error, please advise us immediately
        by return e-mail on info@salonpay.com and delete this email including any ttachments.
        The address from which this message has been sent is strictly for business mail only
        and the company reserves the right to monitor the contents of communications and
        take action where and when it is deemed necessary. Thank you for your co-operation.</p>
    </div>
    <!-- end -->
    <!-- start -->
    <div class="">
      <h3 class="main-comm-head">Your <span>Email</span></h3>

      <div class="yur-mail-box">
        <div class="yur-mail-left">
          <div class="mr-3"><img src="img/gmailsign.svg" alt=""></div>
          <div class="yur-mail-cont">
            <h6>user@salonpay.com</h6>
            <p>Connection Type : Gmail</p>
          </div>
        </div>
        <div class="yur-mail-rig">
          <i class="icon-status status"></i>
          <ul class="status-list">
            <li><i class="icon-edit"></i> Edit</li>
            <li><i class="icon-tick"></i> Active</li>
            <li><i class="icon-active"></i> Inactive</li>
            <li class="delt"><i class="icon-delete"></i> Delete</li>
          </ul>
        </div>
      </div>
      <a class="button dashed-button" (click)="mailconnectfuc();">
        <i class="icon-cir-plus mr-2"></i>Connect <span class="ml-1">Inbox</span>
      </a>
    </div>
    <!-- end -->
  </div>
  <!-- end -->
</div>
<!-- Main Container Ends -->

<!-- start -->
<div class="time-track">
  <div class="time-hed">
    <h6>Time Tracker</h6>
    <a href="#"><i class="icon-minus"></i></a>
  </div>

  <div class="trak-sld">

    <div class="trk-prof">
      <div class="trk-det">
        <div class="user-img"><img src="img/profile.svg" alt=""></div>
        <div class="trk-name">
          <h3>Maya Didas<span>Technician</span></h3>
        </div>
      </div>
      <div id="stopWatch">
        <h6 id="time">00:00</h6>
      </div>
    </div>

    <div class="trk-btn">
      <button class="button" id="start">Start</button>
      <button class="button blue" id="stop">Stop</button>
    </div>

    <div class="form-group">
      <select class="select-field form-field valid" name="select-fld" id="select-fld" required=""
              aria-invalid="false">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
      <p class="form-label sel-blk">Task</p>
    </div>

  </div>
</div>
<div class="time-track-btn"><i class="icon-clock"></i></div>
<!-- end -->

 <!-- Main Container Starts -->
 <div class="mainContainer" *ngIf="emailconnect">
  <h3 class="main-comm-head mb-0" (click)="mailconnectfuc()"><i class="icon-down-arrow com-arw"></i>{{'Email' | translate}} <span>{{'Settings' | translate}}</span></h3>
  <div class="mail-typ-flex">
      <!-- start -->
      <div class="mail-typ-box">
          <h2>What kind of email do you want to connect?</h2>

          <div class="mail-typ-othr">
              <!-- start -->
              <div class="mail-typ" data-toggle="modal" data-target="#gmailPopup">
                  <div class="mail-typ-img"><img src="../../../assets/img/mail1.svg" alt=""></div>
                  <p>Gmail</p>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="mail-typ" data-toggle="modal" data-target="#officePopup">
                  <div class="mail-typ-img"><img src="../../../assets/img/mail2.svg" alt=""></div>
                  <p>Office 365</p>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="mail-typ side-menu" (click)="openModal('other-edit')">
                  <div class="mail-typ-img"><img src="../../../assets/img/mail3.svg" alt=""></div>
                  <p>Other</p>
              </div>
              <!-- end -->
          </div>
      </div>
      <!-- end -->
  </div>
</div>
<!-- Main Container Ends -->

<!--  Modal Starts -->
<div class="modal fade" id="gmailPopup">
  <!-- [big-window] [modal-lg] [modal-md] [modal-sm] -->
  <div class="modal-dialog modal-dialog-centered medium-window">
      <div class="modal-content">
          <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

          <h2 class="modal-title">Gmail</h2>
          <p class="modal-subtitle">Connect your Gmail inbox to SalonPay</p>

          <div class="gmail-pop-cont scrollbar">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                  been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also
                  the leap into
                  electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                  with the release of
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                  software like</p>
              <p>
                  Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a
                  reader will be
                  distracted by the readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is
                  that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                  here, content here',
                  making it look like readable English. Many desktop publishing packages and web page editors
                  now use
                  Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                  web sites still in
                  their infancy. Various versions have evolved over the years, sometimes by accident,
                  sometimes on purpose.</p>
              <p>
                  Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a
                  reader will be
                  distracted by the readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is
                  that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                  here, content here',
                  making it look like readable English. Many desktop publishing packages and web page editors
                  now use
                  Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                  web sites still in
                  their infancy. Various versions have evolved over the years, sometimes by accident,
                  sometimes on purpose.</p>
          </div>

          <div class="modal-btn modal-btn-flex">
              <a href="#" class="choose">Choose a different provider</a>
              <button class="button" data-toggle="modal" data-target="#gmailloginpopup" data-dismiss="modal">Continue</button>
          </div>

      </div>
  </div>
</div>
<!--  Modal Ends -->

<!--  Modal Starts -->
<div class="modal fade" id="officePopup">
  <!-- [big-window] [modal-lg] [modal-md] [modal-sm] -->
  <div class="modal-dialog modal-dialog-centered medium-window">
      <div class="modal-content">
          <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

          <h2 class="modal-title">Office 365</h2>
          <p class="modal-subtitle">Connect your Office 365 inbox to SalonPay</p>

          <div class="gmail-pop-cont scrollbar">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                  been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also
                  the leap into
                  electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                  with the release of
                  Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                  software like</p>
              <p>
                  Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a
                  reader will be
                  distracted by the readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is
                  that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                  here, content here',
                  making it look like readable English. Many desktop publishing packages and web page editors
                  now use
                  Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                  web sites still in
                  their infancy. Various versions have evolved over the years, sometimes by accident,
                  sometimes on purpose.</p>
              <p>
                  Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a
                  reader will be
                  distracted by the readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is
                  that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                  here, content here',
                  making it look like readable English. Many desktop publishing packages and web page editors
                  now use
                  Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many
                  web sites still in
                  their infancy. Various versions have evolved over the years, sometimes by accident,
                  sometimes on purpose.</p>
          </div>

          <div class="modal-btn modal-btn-flex">
              <a href="#" class="choose">Choose a different provider</a>
              <button class="button" (click)="userdataService.addOffice(userdetail)">Continue</button>
          </div>

      </div>
  </div>
</div>
<!--  Modal Ends -->
<!--  Modal Starts -->
<div class="modal fade" id="gmailloginpopup">
  <!-- [big-window] [modal-lg] [modal-md] [modal-sm] -->
  <div class="modal-dialog modal-dialog-centered medium-window">
      <div class="modal-content">
          <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

            <h2 class="modal-title">Gmail Login</h2>
            <p class="modal-subtitle">Connect your Gmail inbox to SalonPay</p>

            <div class="gmail-pop-cont scrollbar">
              <div class="form-group">
                <input type="email" id="Email" class="form-field" />
                <p class="form-label">{{'Email' | translate}}</p>
              </div>
              <div class="form-group">
                <input class="form-field" type="password"  id="Password" />
                <p class="form-label">{{'Password' | translate}}</p>
                <i class="view-pass icon-hide"></i>
              </div>
            </div>

            <div class="modal-btn modal-btn-flex">
                <button class="button" type="submit">Continue</button>
            </div>

      </div>
  </div>
</div>
<!--  Modal Ends -->
<!--  Modal Starts -->
<div class="modal fade" id="officeloginpopup">
  <!-- [big-window] [modal-lg] [modal-md] [modal-sm] -->
  <div class="modal-dialog modal-dialog-centered medium-window">
      <div class="modal-content">
          <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>
        <form [formGroup]="gmailaccount" (ngSubmit)="userdataService.addOffice(gmailaccount.value)">
          <h2 class="modal-title">Office Login</h2>
          <p class="modal-subtitle">Connect your Office inbox to SalonPay</p>

          <div class="gmail-pop-cont scrollbar">
            <div class="form-group">
              <input type="email" id="Email1" class="form-field" formControlName="username"/>
              <p class="form-label">{{'Email' | translate}}</p>
            </div>
            <div class="form-group">
              <input class="form-field" type="password"  id="Password1" formControlName="password"/>
              <p class="form-label">{{'Password' | translate}}</p>
              <i class="view-pass icon-hide"></i>
            </div>
          </div>

          <div class="modal-btn modal-btn-flex">
              <button class="button" type="submit">Continue</button>
          </div>
        </form>
      </div>
  </div>
</div>
<!--  Modal Ends -->
<div class="overlay"> </div>
<IMAP-modal></IMAP-modal>
<email-modal [userdata]="userdetail"></email-modal>
<!-- Edit Profile Menu End -->
</div>
