<!-- <div  *ngIf="messageService.edited">
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
</div> -->
<!-- <div class="padd0" *ngIf="messageService.edited">
  <div class="modal-body">
    <h6 class="text-font" *ngFor='let message of messageService.messages'>{{message}}</h6>
  </div>
</div> -->
 <!-- Success Message Start -->
 <div class="succe-overlay"></div>
 <div class="login-succes login-succes-in" *ngIf="messageService.edited">
     <div class="note-msg login-succes-lef">
         <h6 *ngFor='let message of messageService.messages'>{{message}}</h6>
     </div>

     <div class="login-succes-rig">
         <a href="#" class="grey-rest dismiss-btn"><span>Dismiss</span></a>
     </div>
 </div>
 <!-- Success Message Ends -->
