<!-- Main Container Starts -->
<div class="mainContainer m-0">
  <h3 class="main-comm-head">Dashboard<i class="icon-question rig-icn" data-toggle="tooltip"
                                         title="Dashboard"></i>
  </h3>
  <!-- start -->
  <div class="row mb-4">
    <div class="dash-left-box">
      <!-- Sales Report Starts -->
      <div class="card-box">
        <div class="card-hdn">
          <h5>Sales Report</h5>
        </div>
        <div class="chart">
          <canvas id="line1" height="300"></canvas>
        </div>
      </div>
      <!-- Sales Report Ends -->

      <!-- Appointments Starts -->
      <div class="card-box">
        <div class="card-hdn">
          <h5>Appointments</h5>
          <div class="card-btns">
            <div class="yur-mail-rig  mr-3">
              <i class="icon-share status"></i>
              <ul class="status-list">
                <li>Option 1</li>
                <li>Option 2</li>
              </ul>
            </div>
            <button class="button line orange" data-toggle="modal"
                    data-target="#suggestedTechPopup">Choose</button>
          </div>
        </div>
        <div class="techi-box2-scroll scrollbar">
          <div class="f-row f-3 f-1660-2 f-990-3 f-768-2 f-480-1">
            <div class="f-col">
              <!-- start -->
              <div class="techi-box techi-box2">
                <span class="tech-prio">1<sup>st</sup> In Line</span>
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="f-col">
              <!-- start -->
              <div class="techi-box techi-box2">
                <span class="tech-prio">1<sup>st</sup> In Line</span>
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <div class="f-col">
              <!-- start -->
              <div class="techi-box techi-box2">
                <span class="tech-prio">1<sup>st</sup> In Line</span>
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
      <!-- Appointments Ends -->
    </div>
    <div class="dash-right-box">
      <div class="row">
        <div class="w50 w-1200-100">
          <!-- Appointments Starts -->
          <div class="card-box">
            <div class="card-hdn">
              <h5>Appointments</h5>
              <div class="card-btns">
                <div class="yur-mail-rig">
                  <i class="icon-share status"></i>
                  <ul class="status-list">
                    <li>Option 1</li>
                    <li>Option 2</li>
                  </ul>
                </div>
                <a href="dashboardcalendar" class="button line orange ml-3">View
                  All</a>
              </div>
            </div>
            <div class="apt-12 scrollbar">
              <div  *ngIf="admindashboardService.data?.today">
                <p class="app-head">Today</p>
                <!-- start -->
                <div class="user-det user-det-brd" *ngFor="let appt of admindashboardService.data?.today">
                  <div class="user-img"><img src="img/user.svg" alt=""></div>
                  <div class="usr-name">
                    <h3>{{appt?.data[0].technicianName}}<span>{{appt?.data[0].serviceName}}</span></h3>
                    <p><i class="icon-calender"></i>{{appt?.data[0].days.split(' ')[0]}}, {{appt?.data[0].appointmentTime}} </p>
                  </div>
                </div>
                <!-- end -->

              </div>
              <div *ngIf="admindashboardService.data?.tomorrow">
                <p class="app-head">Tomorrow</p>
                <!-- start -->
                <div class="user-det user-det-brd" *ngFor="let appt of admindashboardService.data?.tomorrow">
                  <div class="user-img"><img src="img/user.svg" alt=""></div>
                  <div class="usr-name">
                    <h3>{{appt?.data[0].technicianName}}<span>{{appt?.data[0].serviceName}}</span></h3>
                    <p><i class="icon-calender"></i>{{appt?.data[0].days.split(' ')[0]}}, {{appt?.data[0].appointmentTime}} </p>
                  </div>
                </div>
                <!-- end -->
              </div>
              <div *ngIf="admindashboardService.data?.dayAfterTomorrow">
                <p class="app-head">Upcoming</p>
                <!-- start -->
                <div class="user-det user-det-brd" *ngFor="let appt of admindashboardService.data.dayAfterTomorrow">
                  <div class="user-img"><img src="img/user.svg" alt=""></div>
                  <div class="usr-name">
                    <h3>{{appt?.data[0].technicianName}}<span>{{appt?.data[0].serviceName}}</span></h3>
                    <p><i class="icon-calender"></i>{{appt?.data[0].days.split(' ')[0]}}, {{appt?.data[0].appointmentTime}} </p>
                  </div>
                </div>
                <!-- end -->
                <!-- start -->
                <!-- end -->
              </div>
            </div>
          </div>
          <!-- Appointments Ends -->
        </div>
        <div class="w50 w-1200-100">
          <!-- Weekly Schedule Starts -->
          <div class="card-box">
            <div class="card-hdn">
              <h5>Weekly Schedule</h5>
              <div class="card-btns">
                <div class="yur-mail-rig">
                  <i class="icon-share status"></i>
                  <ul class="status-list">
                    <li>Option 1</li>
                    <li>Option 2</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="week-calender-box">


              <mwl-calendar-week-view
                [viewDate]="viewDate"
                [refresh]="refresh"
              >
              </mwl-calendar-week-view>
              <div id="demo-one-week"></div>
            </div>
            <div class="apt-12 scrollbar">
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
              <!-- start -->
              <div class="user-det user-det-brd">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Bob Rock<span>Haircut</span></h3>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
          <!-- Weekly Schedule Ends -->
        </div>
      </div>
    </div>

  </div>
  <!-- end -->
</div>
<!-- Main Container Ends -->

<!-- Suggested Technician Modal Starts -->
<div class="modal fade" id="suggestedTechPopup">
  <div class="modal-dialog big-window">
    <div class="modal-content">
      <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

      <div class="scrollbar addon-service-box">
        <h2 class="modal-title mb-4">Suggested Technicians</h2>
        <div class="f-row f-3 f-1200-2 f-640-1">
          <div class="f-col">
            <!-- start -->
            <div class="techi-box">
              <div class="techi-top">
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <span class="tech-prio">1<sup>st</sup> In Line</span>
              </div>
              <div class="techi-top">
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
                <div class="main-selt">
                  <input type="checkbox" id="technician-1" name="technician-1" required>
                  <label for="technician-1">Select</label>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="techi-box">
              <div class="techi-top">
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <span class="tech-prio">2<sup>nd</sup> In Line</span>
              </div>
              <div class="techi-top">
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
                <div class="main-selt">
                  <input type="checkbox" id="technician-2" name="technician-2" required>
                  <label for="technician-2">Select</label>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="techi-box">
              <div class="techi-top">
                <div class="techi-cont">
                  <p>Last Service</p>
                  <h3>Monday 21st @ 1:50 PM</h3>
                </div>
                <span class="tech-prio">3<sup>rd</sup> In Line</span>
              </div>
              <div class="techi-top">
                <div class="techi-user">
                  <div class="tech-user-img"><img src="img/user2.svg" alt=""></div>
                  <div class="tech-usr-cont">
                    <p>Technician</p>
                    <h3>Ira Membrit</h3>
                  </div>
                </div>
                <div class="main-selt">
                  <input type="checkbox" id="technician-3" name="technician-3" required>
                  <label for="technician-3">Select</label>
                </div>
              </div>
            </div>
            <!-- end -->
          </div>
        </div>

        <div class="search-tech-box">
          <h2 class="modal-title mb-4">Select Technicians</h2>
          <div class="form-group">
            <form>
              <input class="form-field" type="text" name="filter-searh" required>
              <p class="form-label">Search</p>
              <button class="search icon-search" type="submit"></button>
            </form>
          </div>
        </div>

        <div class="f-row f-3 f-1200-2 f-640-1">
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-4" name="technician-4" required>
                <label for="technician-4">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-5" name="technician-5" required>
                <label for="technician-5">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-6" name="technician-6" required>
                <label for="technician-6">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-7" name="technician-7" required>
                <label for="technician-7">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-8" name="technician-8" required>
                <label for="technician-8">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>
          <div class="f-col">
            <!-- start -->
            <div class="com-shad">
              <div class="user-det">
                <div class="user-img"><img src="img/user.svg" alt=""></div>
                <div class="usr-name">
                  <h3>Ira Membrit<span>Haircut</span></h3>
                </div>
              </div>
              <div class="main-selt">
                <input type="checkbox" id="technician-9" name="technician-9" required>
                <label for="technician-9">Select</label>
              </div>
            </div>
            <!-- end -->
          </div>

        </div>

      </div>

      <div class="popBtn">
        <button class="button line" type="button" class="modalCancel" data-dismiss="modal">Cancel</button>
        <button class="button" type="submit" class="modalCancel" data-dismiss="modal">Apply</button>
      </div>

    </div>
  </div>
</div>
<!-- Suggested Technician Modal Ends -->


<script src="js/all.js"></script>
<script src="js/mobiscroll.jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
  $('#demo-one-week').mobiscroll().calendar({
    display: 'inline',
    weeks: 1
  })

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  // line chart
  let myBorderWidth = 4;
  if ($(window).width() > 990) {
    myBorderWidth = 4;
  } else if ($(window).width() > 768) {
    myBorderWidth = 3;
  } else {
    myBorderWidth = 2;
  }

  var canvasline1 = document.getElementById("line1");
  var ctxline1 = canvasline1.getContext("2d");

  var originalStroke = ctxline1.stroke;
  ctxline1.stroke = function () {
    ctxline1.save();
    ctxline1.shadowColor = 'rgba(0, 0, 0, 0.3)';
    ctxline1.shadowBlur = 10;
    ctxline1.shadowOffsetX = 0;
    ctxline1.shadowOffsetY = 5;
    originalStroke.apply(this, arguments)
    ctxline1.restore();
  }

  var line1 = new Chart(ctxline1, {
    type: 'line',
    data: {
      labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"],
      datasets: [{
        label: "Services",
        borderColor: '#684BD4',
        borderWidth: myBorderWidth,
        fill: false,
        data: [20, 35, 40, 35, 15, 45, 70, 45, 20, 15, 20, 35],
        bezierCurve: true,
        pointRadius: myBorderWidth,
        pointHoverRadius: myBorderWidth + 1,
        pointBorderColor: "#684BD4",
        pointBackgroundColor: "#fff",
      }, {
        label: "Products",
        borderColor: '#44C3EB',
        borderWidth: myBorderWidth,
        fill: false,
        data: [10, 15, 30, 20, 45, 60, 50, 30, 25, 50, 30, 20],
        bezierCurve: true,
        pointRadius: myBorderWidth,
        pointHoverRadius: myBorderWidth + 1,
        pointBorderColor: "#44C3EB",
        pointBackgroundColor: "#fff",
      }]
    },
    options: {
      responsive: false,
      hoverMode: 'index',
      stacked: false,
      // animation: {
      // easing: 'linear',
      // duration: 1600
      // },
      tooltips: {
        callbacks: {
          label: function (tooltipItem) {
            return "$" + Number(tooltipItem.yLabel);
          }
        },
        backgroundColor: '#FFF',
        titleFontSize: 14,
        titleFontColor: '#000',
        bodyFontColor: '#000',
        bodyFontSize: 14,
        displayColors: false,
      },
      legend: {
        display: true,
        position: 'bottom',
        labels: {
          fontFamily: 'medium',
          fontSize: 16,
          padding: 25,
          fontColor: '#1C2D41',
          usePointStyle: true,
        }
      },
      title: {
        display: false,
        text: 'Line Chart - Multi Axis'
      },
      scales: {
        xAxes: [{
          gridLines: {
            display: false,
          },
          ticks: {
            fontFamily: 'regular',
            fontSize: 14,
            fontColor: '#90A1B7',
          },
        }],
        yAxes: [{
          gridLines: {
            drawBorder: false,
          },
          ticks: {
            beginAtZero: true,
            suggestedMax: 100,
            fontFamily: 'regular',
            fontSize: 14,
            fontColor: '#1C2D41',
            stepSize: 20,
            padding: 20,
            callback: function (label, index, labels) {
              return ' $ ' + label;
            }
          }
        }]
      }
    }
  });
</script>
