<!-- <div *ngIf="AdminService.navTab==9"> -->
<app-tipadjustment></app-tipadjustment>
    <app-staff></app-staff>
    <app-businessinventory></app-businessinventory>
    <app-customer></app-customer>
    <app-businesscoupon></app-businesscoupon>
    <app-review></app-review>
    <app-taxtable></app-taxtable>
    <app-services></app-services>
    <app-turncount></app-turncount>
    <app-explevel></app-explevel>
    <app-payperiod></app-payperiod>
    <app-busischedule></app-busischedule>
<!-- </div> -->
