@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
element {
  --form-field-height: 45px;
}
.form-field{
  height: var(--form-field-height);
}
.scroll-padding{
  padding-top: 15px;
    padding-right: 15px;
}
.button.line.orange:hover{
  background-color: #fff !important;
}
.button.line:hover{
  background-color: #fff !important;
}
.button.line.whitelin{
  background-color: transparent !important;
}
.form-height-schedule{
  height: 50px !important;
}
.greencol{
  color: green !important;
  font-size: 14px !important;
}
.pad-left{
  padding-left: 30px !important;
}
.remove-custom{
  color: #f00;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 300px;
}
.custom-btn{
  color: #fff !important;
}
.cal-week-view .cal-day-headers .cal-header{
    border-right: 1px solid #e1e1e1;
    border: 1px solid #a7b3c4;
    color: #a7b3c4;
    border-radius: 5px;
    margin-left: 5px;
    height: 71px;
}

.cal-week-view .cal-header.cal-today{
  color: #fff;
    border-color: transparent;
    background: linear-gradient(90deg, #2ecbaa 0, #358fd0 100%);
}
.cal-week-view .cal-day-headers{
  border: 1px solid #fff;
  width: 85%;
  margin-left: 42px;
}
.btn-group, .btn-group-vertical{
  display: none;
}
/* .swiper-container{
  margin-top: -24px;
} */
.cal-week-view .cal-day-headers .cal-header:hover, .cal-week-view .cal-day-headers .cal-drag-over {
  background-color: #fff;
}
.btn-col-sub{
  color: #fff;
    background-image: linear-gradient(to right, #ff8324, #ff5124, #e75918, #ff8324);
}
.btn-lin-cust{
  margin-top: -75px;
}