<!-- Main Container Starts -->
<div *ngIf="customerService.navTab==3">
    <div class="mainContainer main-container-flg">

        <div class="comm-headline-btn">
            <h3 class="main-comm-head main-head-colr-pur m-0">
                <!-- <i class="icon-down-arrow com-arw"></i> -->
                Maya <span>Didas</span>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a href="transaction-customer-type.html" class="button flg-btn new-sale-btn mr-0">New Sale</a>
                </div>
            </div>
        </div>

        <div class="comm-headline-btn communication-hdn pb-0">
            <div class="customer-comm-tab">
                <h3 class="main-comm-head m-0">
                    Notes
                    <i class="icon-question rig-icn" data-toggle="tooltip" title="" data-original-title="Notes"></i>
                </h3>
            </div>

            <div class="filter-container-up">
                <div class="filter-container">
                    <button class="button comm-btm-popup mr-2 new-email-btn" data-name="add-new-popup">
                        +<span>Add New</span></button>
                    <div class="form-group mb-0 mr-2">
                        <form>
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="f-row f-4 f-1200-3 f-768-2 f-640-1">
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
            <div class="f-col">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>Finance</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                            MacBook Pro elevates the notebook to a whole new level of performance and portability.
                            Wherever your ideas take you,
                            you’ll get there faster than ever with high‑performance processors and memory, advanced
                            graphics, blazing‑fast storage
                            and more.
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="img/histry-user.svg" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>David Dion</h3>
                                <p>25 Aug'19</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
        </div>

    </div>
</div>
<!-- Main Container Ends -->