<!-- Main Container Starts -->
<div *ngIf="customerService.navTab==3">
    <div class="mainContainer main-container-flg">

        <div class="comm-headline-btn">
            <h3 class="main-comm-head main-head-colr-pur m-0">
                <!-- <i class="icon-down-arrow com-arw"></i> -->
                {{customerProfile?.firstName}} <span>{{customerProfile?.lastName}}</span>
            </h3>
            <div class="filter-container-up filter-container-grid">
                <div class="filter-container">
                    <a href="transaction-customer-type.html" class="button flg-btn new-sale-btn mr-0">New Sale</a>
                </div>
            </div>
        </div>

        <div class="comm-headline-btn communication-hdn pb-0">
            <div class="customer-comm-tab">
                <h3 class="main-comm-head m-0">
                    Notes
                    <i class="icon-question rig-icn" data-toggle="tooltip" title="" data-original-title="Notes"></i>
                </h3>
            </div>

            <div class="filter-container-up">
                <div class="filter-container">
                    <button class="button comm-btm-popup mr-2 new-email-btn" (click)="customerService.note='';modalService.opennote('add-new-popup')">
                        +<span>Add New</span></button>
                    <div class="form-group mb-0 mr-2">
                        <form>
                            <input class="form-field" type="text" name="filter-searh" required>
                            <p class="form-label">Search</p>
                            <button class="search icon-search" type="submit"></button>
                        </form>
                    </div>
                    <div class="yur-mail-rig filtdrp-status">
                        <button type="button" class="button line grey status">
                            <i class="icon-fliter-list"></i>
                            <span>Sort by</span>
                        </button>
                        <ul class="status-list center">
                            <li class="drpFil">Sort by</li>
                            <li><a href="#">Ascending</a></li>
                            <li><a href="#">Descending</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="f-row f-4 f-1200-3 f-768-2 f-640-1">
            <div class="f-col" *ngFor="let note of notes">
                <!-- start -->
                <div class="app-grid-box">
                    <!-- start -->
                    <div class="note-desp-box">
                        <div class="note-desp-head">
                            <h4>{{note?.title}}</h4>
                            <div class="yur-mail-rig">
                                <i class="icon-status1 status"></i>
                                <ul class="status-list">
                                    <li class="comm-btm-popup" data-name="add-new-popup"><i class="icon-edit" (click)="customerService.note=note; modalService.opennote('add-new-popup')"></i>
                                        Edit</li>
                                    <li class="delt" data-toggle="modal" data-target="#deletePopup"
                                        data-backdrop="static" data-keyboard="false" (click)="customerService.note = note;"><i class="icon-delete"></i>
                                        Delete</li>
                                </ul>
                            </div>
                        </div>
                        <p class="note-para">
                          {{note?.description}}
                        </p>
                        <div class="techi-user">
                            <div class="tech-user-img"><img src="http://172.16.0.99:8011/{{note.user?.profilePic?.split('\\').join('/')}}" alt=""></div>
                            <div class="tech-usr-cont">
                                <h3>{{note.user?.userName}}</h3>
                                <p>{{note?.createdOn | date: 'M/d/yyyy' }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
                <!-- end -->
            </div>
        </div>

    </div>
</div>
<!-- Main Container Ends -->
<div class="modal fade" id="deletePopup">
  <div class="modal-dialog medium-window">
    <div class="modal-content">
      <div class="modalCancel" data-dismiss="modal"><i class="icon-cir-plus"></i></div>

      <h2 class="modal-title">Are you sure you want to delete this Note?</h2>

      <div class="modal-btn">
        <button class="button line mr-2" data-dismiss="modal">No</button>
        <button class="button red" data-dismiss="modal" (click)="deleteNote(customerService.note)">Yes</button>
      </div>

    </div>
  </div>
</div>
<customer-addnotes-modal></customer-addnotes-modal>
<!-- Main Container Ends -->
