<!-- Main Container Starts -->
<div *ngIf="userdataService.profilenav">
<div class="mainContainer">
  <app-messages></app-messages>
  <h3 class="main-comm-head">{{'Profile' | translate}} <span>{{'Settings' | translate}}</span></h3>
  <!-- start -->
  <div class="row">
    <div class="usr-pro-box-flex usr-pro-box-flex-1">
      <!-- start -->
      <div class="usr-pro-box">
        <!-- start -->
        <div class="usr-pro-top">
          <!-- upload start -->
          <div class="avatar-upload">
            <div class="avatar-edit">
              <label class="hoverable" for="fileInput">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                <div class="hover-text">Choose file</div>
                <div class="background"></div>
              </label>
              <input id="fileInput" type='file' (change)="userdataService.upload_profile_image($event.target.files)">

<!--              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />-->
              <label for="imageUpload"><i class="icon-uploading grd-icon"></i></label>
              {{userdataService.imagepath}}
            </div>
<!--            <div class="avatar-preview">-->
<!--              <div id="imagePreview" style="background-image: url(../../../assets/img/usr-profile.svg);">-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <!-- upload end -->
          <h6>{{userdetail?.firstName}}  {{userdetail?.lastName}}</h6>
          <p>Technician</p>
          <i class="icon-edit grd-icon pro-edt side-menu" (click)="openModal('side-menu-userprofile')"></i>
        </div>
        <!-- end -->
        <div class="usr-pro-btm">
          <div class="comm-cont">
            <p>{{'Birthdate' | translate}}</p>
            <h6>{{userdetail?.dateOfBirth | date: 'M/d/yyyy'}}</h6>
          </div>
          <div class="comm-cont">
            <p>{{'Gender' | translate}}</p>
            <h6>{{userdetail?.gender}}</h6>
          </div>
        </div>
        <!-- end -->
      </div>
    </div>

    <div class="usr-pro-box-flex usr-pro-box-flex-1">
      <div class="pro-comm-fle">
        <h6>{{'Contact' | translate}}</h6>
        <i class="icon-edit grd-icon side-menu" (click)="openModal('side-menu-contact')"></i>
      </div>

      <!-- start -->
      <div class="prof-comm-shad">
        <div class="comm-cont w100 mb-4">
          <p>{{'Mobile' | translate}}</p>
          <h6>{{userdetail?.phoneNumber }}</h6>
        </div>
        <div class="comm-cont w100 mb-4">
          <p>{{'Work' | translate}}</p>
          <h6>{{userdetail?.workContact}}</h6>
        </div>
        <div class="comm-cont w100">
          <p>{{'Home' | translate}}</p>
          <h6>{{userdetail?.homeConatct}}</h6>
        </div>
      </div>
      <!-- end -->
    </div>

    <div class="usr-pro-box-flex usr-pro-box-flex-2">
      <div class="pro-comm-fle">
        <h6>{{'Address' | translate}}</h6>
        <i class="icon-edit grd-icon side-menu" data-name="side-menu-address"  (click)="openModal('side-menu-address')"></i>
      </div>
      <!-- start -->
      <div class="prof-comm-shad">
        <div class="comm-cont w100 mb-4">
          <p>{{'Address Line 1' | translate}}</p>
          <h6>{{userdetail?.addressLine1}}</h6>
        </div>
        <div class="comm-cont w100 mb-4">
          <p>{{'Address Line 2' | translate}}</p>
          <h6>{{userdetail?.addressLine2}}</h6>
        </div>
        <div class="comm-cont w50 w-480-50 mb-4">
          <p>{{'City' | translate}}</p>
          <h6>{{userdetail?.cityName}}</h6>
        </div>
        <div class="comm-cont w50 w-480-50 mb-480-30">
          <p>{{'State' | translate}}</p>
          <h6>{{userdetail?.stateName}}</h6>
        </div>
        <div class="comm-cont w50 w-480-50 mb-480-30">
          <p>{{'Country' | translate}}</p>
          <h6>{{userdetail?.countryName}}</h6>
        </div>
        <div class="comm-cont w50 w-480-50">
          <p>{{'Zip Code' | translate}}</p>
          <h6>{{userdetail?.zipcode}}</h6>
        </div>
      </div>
      <!-- end -->
    </div>

    <div class="usr-pro-box-flex usr-pro-box-flex-3">
      <div class="pro-comm-fle">
        <h6>{{'login info' | translate}}</h6>
        <i class="icon-edit grd-icon side-menu" (click)="openModal('side-menu-logininfo')"></i>
      </div>

      <!-- start -->
      <div class="prof-comm-shad mb-3">
        <div class="comm-cont w100">
          <p>{{'Email' | translate}}</p>
          <h6>{{userdetail?.email}}</h6>
        </div>
      </div>
      <!-- end -->
      <!-- start -->
      <div class="prof-comm-shad">
        <div class="comm-cont w100">
          <p>{{'Password' | translate}}</p>
          <h6>**********</h6>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
  <!-- end -->
</div>
<!-- Main Container Ends -->

<!-- start -->
<div class="time-track">
  <div class="time-hed">
    <h6>Time Tracker</h6>
    <i class="icon-minus"></i>
  </div>

  <div class="trak-sld">

    <div class="trk-prof">
      <div class="trk-det">
        <div class="user-img"><img src="img/profile.svg" alt=""></div>
        <div class="trk-name">
          <h3>Maya Didas<span>Technician</span></h3>
        </div>
      </div>
      <div id="stopWatch">
        <h6 id="time">00:00</h6>
      </div>
    </div>

    <div class="trk-btn">
      <button class="button" id="start">Start</button>
      <button class="button blue" id="stop">Stop</button>
    </div>

    <div class="form-group">
      <select class="select-field form-field valid" name="select-fld" id="select-fld" required=""
              aria-invalid="false">
        <option></option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
      </select>
      <p class="form-label sel-blk">Task</p>
    </div>

  </div>
</div>
<div class="time-track-btn"><i class="icon-clock"></i></div>
<!-- end -->
<!-- Edit Profile Menu -->
<div class="overlay"></div>

<profile-modal [userdata]="userdetail"></profile-modal>
<address-modal [userdata]="userdetail"></address-modal>
<contact-modal [userdata]="userdetail"></contact-modal>
<timer [userdata]="userdetail"></timer>

  <profileinfo-modal [userdata]="userdetail"></profileinfo-modal>
</div>
